@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 142%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "SF Pro Display", Arial, sans-serif;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1359.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 767.99px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media screen and (max-width: 575.99px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.content *:first-child {
  margin-top: 0;
}

.content h1, .content h2, .content h3, .content h4 {
  margin: 40px 0;
}

.content h5, .content h6, .content p {
  margin-bottom: 30px;
}

.content table {
  margin-bottom: 40px;
}

.content ul {
  margin-bottom: 30px;
  margin-left: 20px;
}

.content ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #ffb800;
  border-radius: 50%;
  margin-right: 20px;
  line-height: inherit;
  position: relative;
  top: -2px;
}

.content ul li ol {
  margin-bottom: 0;
  counter-reset: li;
}

.content ul li ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-right: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  background: none;
  top: 0;
}

.content ul li ul {
  margin-bottom: 0;
}

.content ul li ul li:before {
  border: 1px solid #ffb800;
  background-color: transparent;
}

.content ol {
  margin-bottom: 30px;
  counter-reset: li;
  margin-left: 20px;
}

.content ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-right: 20px;
  display: inline-block;
}

.content ol li ul {
  margin-bottom: 0;
  counter-reset: none;
}

.content ol li ul li:before {
  content: '';
}

.content ol li ol {
  margin-bottom: 0;
}

.content a {
  color: #f0ac0d;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.content a:hover {
  color: #191919;
}

.content blockquote {
  padding: 18px 20px;
  margin-bottom: 30px;
  color: #191919;
  border-left: 6px solid #f0ac0d;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-weight: 700;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.btn, .btn2 {
  width: 177px;
  border-radius: 4px;
  background-color: #f0ac0d;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 142%;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn:hover, .btn2:hover, .btn:focus, .btn2:focus {
  background-color: #f6c03f;
  color: #ffffff;
}

.btn:active, .btn2:active {
  background-color: #f0ac0d;
}

.btn2 {
  border: 1px solid #f0ac0d;
  background-color: transparent;
  color: #f0ac0d;
}

.arr {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #f0ac0d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.arr:hover, .arr:focus {
  background-color: #ffffff;
}

.arr:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.arr__svg {
  width: 11px;
  height: 19px;
}

.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
}

.header__top {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 9px 0;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__city {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__city:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__city:hover {
  color: #f0ac0d;
}

.header__city:hover:after {
  border-color: #f0ac0d transparent transparent transparent;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  color: #ffffff;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__control:hover {
  color: #f6c03f;
  fill: #f6c03f;
}

.header__control:last-child {
  margin-right: 0;
}

.header__control-svg {
  width: 19px;
  height: 19px;
  margin-right: 6px;
}

.header__control-txt {
  font-size: 12px;
  font-weight: 300;
}

.header__middle {
  padding-top: 40px;
  padding-bottom: 20px;
}

.header__middle-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66667% - 20px);
}

@media screen and (max-width: 767.99px) {
  .header__middle-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .header__middle-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.header__middle-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(58.33333% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767.99px) {
  .header__middle-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .header__middle-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo-img {
  margin-right: 75px;
  max-width: 213px;
}

.header__logo-txt {
  color: #000000;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.54px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #191919;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  color: #f0ac0d;
}

.header__link-svg {
  max-width: 16px;
  max-height: 18px;
  fill: #f0ac0d;
  margin-right: 14px;
}

.header__link-txt {
  font-size: 14px;
}

.header__call {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  margin-left: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__call:hover {
  color: #f0ac0d;
}

.worktime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #191919;
  font-size: 14px;
}

.worktime__left {
  margin-right: 10px;
}

.worktime__svg {
  width: 15px;
  height: 15px;
  fill: #f0ac0d;
  margin-top: 4px;
}

.phone {
  display: block;
}

.phone__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone__phone-svg {
  width: 13px;
  height: 19px;
  fill: #f0ac0d;
  margin-right: 6px;
}

.phone__phone-link {
  color: #191919;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phone__phone-link:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #191919 transparent transparent transparent;
  margin-left: 6px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phone__phone-link:hover {
  color: #f0ac0d;
}

.phone__phone-link:hover:after {
  border-color: #f0ac0d transparent transparent transparent;
}

.phone__drop {
  display: none;
}

.menu {
  background-color: #f0ac0d;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 6px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__item:hover {
  background-color: #f6c03f;
}

.menu__item:last-child .menu__link {
  border-right: 1px solid transparent;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 45px;
  width: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.menu__link_sub:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: 12px;
}

.ibanner__slider {
  position: relative;
}

.ibanner__slider_arr .ibanner__prev, .ibanner__slider_arr .ibanner__next {
  opacity: 1;
  pointer-events: all;
}

.ibanner__slider:hover .ibanner__prev, .ibanner__slider:hover .ibanner__next {
  opacity: 1;
  pointer-events: all;
}

.ibanner__slide {
  height: 738px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ibanner__slide-imgs {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ibanner__slide-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.ibanner__slide-img_t {
  display: none;
}

.ibanner__slide-img_m {
  display: none;
}

.ibanner__slide-container {
  height: 100%;
  position: relative;
  z-index: 20;
}

.ibanner__slide-row {
  padding-top: 220px;
  padding-bottom: 55px;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ibanner__slide-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(83.33333% - 20px);
  margin-left: calc(8.33333% + 10px);
  margin-right: calc(8.33333% + 10px);
}

@media screen and (max-width: 767.99px) {
  .ibanner__slide-content {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ibanner__slide-content {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ibanner__slide-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.ibanner__slide-txt {
  color: #191919;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 1.14583;
}

.ibanner__slide-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ibanner__slide-link {
  margin-right: 20px;
}

.ibanner__slide-link:last-child {
  margin-right: 0;
}

.ibanner__nav {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.ibanner__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-top: 220px;
  padding-bottom: 30px;
}

.ibanner__arrs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ibanner__prev, .ibanner__next {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ibanner__pag {
  position: static;
  width: 100%;
  pointer-events: all;
}

.ibanner__pag .swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  background: #ffffff;
  opacity: 1;
  border-radius: 0;
  margin: 0 10px;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ibanner__pag .swiper-pagination-bullet-active {
  height: 8px;
  background: #f0ac0d;
}

.iadvs__svg .fill-bg2 {
  fill: #f8f8f8;
}

.iadvs__svg .fill-main1 {
  fill: #f0ac0d;
}

.iadvs__svg .fill-bg {
  fill: #ffffff;
}

.iadvs__svg .stroke-icon {
  stroke: #cecece;
}

.iadvs__svg .stroke-main1 {
  stroke: #f0ac0d;
}

.footer {
  background-color: #333333;
}

.footer__top {
  padding-top: 70px;
  padding-bottom: 45px;
}

.footer__top-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(75% - 20px);
  margin-right: calc(4.16667% + 10px);
}

@media screen and (max-width: 767.99px) {
  .footer__top-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__top-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__top-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20.83333% - 20px);
}

@media screen and (max-width: 767.99px) {
  .footer__top-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__top-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

@media screen and (max-width: 767.99px) {
  .footer__col {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__col {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 17px;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__title:hover {
  color: #f0ac0d;
}

.footer__item {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__item:hover {
  color: #f0ac0d;
}

.footer__contacts {
  margin-bottom: 40px;
}

.footer__contact {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__contact:last-child {
  margin-bottom: 0;
}

.footer__contact:hover {
  color: #f0ac0d;
}

.footer__bottom {
  background-color: #2d2d2d;
  padding: 25px 0;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copy {
  color: #ffffff;
  font-weight: 300;
}

.socials__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.socials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.socials__item {
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.socials__item:hover {
  fill: #f0ac0d;
}

.socials__item-svg {
  max-height: 100%;
  max-width: 100%;
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.developer:hover {
  text-decoration: underline;
}

.developer__txt {
  font-weight: 300;
  margin-right: 10px;
}

/*# sourceMappingURL=main.css.map */