@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/SFProDisplay-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/SFProDisplay-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/SFProDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

input::-ms-clear {
  display: none;
}

html.ie9 * {
  border-radius: 0 !important;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.42;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  background: #ffffff;
  font-family: "SF Pro Display", Arial, sans-serif;
  color: #606060;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 1359.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 991.99px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 767.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 575.99px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

@media screen and (max-width: 767.99px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

@media screen and (max-width: 575.99px) {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.content *:first-child {
  margin-top: 0;
}

.content h1, .content h2, .content h3, .content h4 {
  margin: 40px 0;
}

.content h5, .content h6, .content p {
  margin-bottom: 30px;
}

.content table {
  margin-bottom: 40px;
}

.content ul {
  margin-bottom: 30px;
  margin-left: 20px;
}

.content ul li:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background-color: #ffb800;
  border-radius: 50%;
  margin-right: 20px;
  line-height: inherit;
  position: relative;
  top: -2px;
}

.content ul li ol {
  margin-bottom: 0;
  counter-reset: li;
}

.content ul li ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-right: 20px;
  display: inline-block;
  width: auto;
  height: auto;
  background: none;
  top: 0;
}

.content ul li ul {
  margin-bottom: 0;
}

.content ul li ul li:before {
  border: 1px solid #ffb800;
  background-color: transparent;
}

.content ol {
  margin-bottom: 30px;
  counter-reset: li;
  margin-left: 20px;
}

.content ol li:before {
  counter-increment: li;
  content: counters(li, ".") ". ";
  margin-right: 20px;
  display: inline-block;
}

.content ol li ul {
  margin-bottom: 0;
  counter-reset: none;
}

.content ol li ul li:before {
  content: '';
}

.content ol li ol {
  margin-bottom: 0;
}

.content a {
  color: #f0ac0d;
  display: inline-block;
  margin-bottom: 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.content a:hover {
  color: #191919;
}

.content blockquote {
  padding: 18px 20px;
  margin-bottom: 30px;
  color: #191919;
  border-left: 6px solid #f0ac0d;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p, blockquote {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #191919;
  font-weight: 700;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

input, textarea {
  border: none;
  background: none;
  outline: none;
  font: inherit;
}

.btn, .btn2 {
  width: 177px;
  border-radius: 4px;
  background-color: #f0ac0d;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn:hover, .btn2:hover, .btn:focus, .btn2:focus {
  background-color: #f6c03f;
  color: #ffffff;
}

.btn:active, .btn2:active {
  background-color: #f0ac0d;
}

.btn2 {
  border: 1px solid #f0ac0d;
  background-color: transparent;
  color: #f0ac0d;
}

.btn2_w {
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  padding: 9px 20px;
}

.btn2_w:hover {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #f0ac0d;
}

.btn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #9a9a9a;
  color: #9a9a9a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn3:hover {
  fill: #f0ac0d;
  color: #f0ac0d;
}

.btn3__svg {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.btn3__txt {
  font-size: 14px;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
}

.btn4 {
  height: 44px;
  border-radius: 100px;
  background-color: #f0ac0d;
  display: inline-block;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.btn4:hover, .btn4:focus {
  background-color: #f6c03f;
}

.btn4:active {
  background-color: #f0ac0d;
}

.add {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #f0ac0d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.add__svg {
  width: 11px;
  height: 9px;
  fill: #ffffff;
  display: none;
  margin-right: 12px;
}

.add__txt {
  color: #f0ac0d;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.add__txt2 {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  display: none;
}

.add:hover {
  background-color: #f0ac0d;
}

.add:hover .add__txt {
  color: #ffffff;
}

.add_in {
  background-color: #f0ac0d;
}

.add_in .add__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_in .add__txt {
  display: none;
}

.add_in .add__txt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.arr {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #f0ac0d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.arr:hover, .arr:focus {
  background-color: #ffffff;
}

.arr:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.arr__svg {
  width: 11px;
  height: 19px;
}

.title {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.title__subtitle {
  color: #9a9a9a;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.title__subtitle:hover {
  color: #f0ac0d;
}

.pag {
  margin-left: -10px;
  margin-right: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pag .swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  background-color: #cecece;
  opacity: 0.6;
  border-radius: 0;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

.pag .swiper-pagination-bullet-active {
  background-color: #f0ac0d;
  opacity: 1;
}

.price {
  color: #191919;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.price_green {
  color: #14c264;
}

.priceold {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: line-through;
}

.tabset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tabset__label {
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 4px solid transparent;
  margin-right: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabset__label:last-child {
  margin-right: 0;
}

.tabset__input {
  display: none;
}

.tabset__input:checked + .tabset__label {
  color: #000000;
  border-bottom: 4px solid #f0ac0d;
}

.tabset__input:nth-of-type(1):checked ~ .tabset__tabs .tabset__tab:nth-child(1) {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.tabset__input:nth-of-type(2):checked ~ .tabset__tabs .tabset__tab:nth-child(2) {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.tabset__input:nth-of-type(3):checked ~ .tabset__tabs .tabset__tab:nth-child(3) {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.tabset__input:nth-of-type(4):checked ~ .tabset__tabs .tabset__tab:nth-child(4) {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.tabset__input:nth-of-type(5):checked ~ .tabset__tabs .tabset__tab:nth-child(5) {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.tabset__tabs {
  width: 100%;
  margin-top: 40px;
  position: relative;
}

.tabset__tab {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}

.arrow {
  fill: #f0ac0d;
  stroke: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.arrow:hover, .arrow:focus {
  fill: #f6c03f;
}

.arrow:active {
  fill: #f0ac0d;
}

.arrow__svg {
  width: 30px;
  height: 60px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  fill: #9a9a9a;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.link__txt {
  font-size: 14px;
  margin-right: 7px;
}

.link__svg {
  width: 29px;
  height: 8px;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rating__star {
  margin-right: 12px;
}

.rating__star:last-child {
  margin-right: 0;
}

.rating__star.active .rating__star-svg {
  fill: #f6af24;
}

.rating__star-svg {
  width: 24px;
  height: 24px;
  fill: #cecece;
}

.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
}

.header__top {
  background-color: rgba(0, 0, 0, 0.25);
  padding: 9px 0;
}

.header__top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__city {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__city:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__city:hover {
  color: #f0ac0d;
}

.header__city:hover:after {
  border-color: #f0ac0d transparent transparent transparent;
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 25px;
  color: #ffffff;
  fill: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__control:hover {
  color: #f6c03f;
  fill: #f6c03f;
}

.header__control:last-child {
  margin-right: 0;
}

.header__control_black {
  fill: #191919;
}

.header__control-svg {
  width: 19px;
  height: 19px;
  margin-right: 6px;
}

.header__control-txt {
  font-size: 12px;
  font-weight: 300;
}

.header__middle {
  padding-top: 40px;
  padding-bottom: 20px;
}

.header__middle-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(41.66667% - 20px);
}

@media screen and (max-width: 767.99px) {
  .header__middle-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .header__middle-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.header__middle-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(58.33333% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767.99px) {
  .header__middle-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .header__middle-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo-img {
  margin-right: 75px;
  max-width: 213px;
}

.header__logo-txt {
  color: #000000;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 0.54px;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #191919;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  color: #f0ac0d;
}

.header__link-svg {
  max-width: 16px;
  max-height: 18px;
  fill: #f0ac0d;
  margin-right: 14px;
}

.header__link-txt {
  font-size: 14px;
}

.header__call {
  color: #191919;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: underline;
  -webkit-text-decoration-style: dashed;
  text-decoration-style: dashed;
  margin-left: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__call:hover {
  color: #f0ac0d;
}

.worktime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #191919;
  font-size: 14px;
}

.worktime__left {
  margin-right: 10px;
}

.worktime__svg {
  width: 15px;
  height: 15px;
  fill: #f0ac0d;
  margin-top: 4px;
}

.phone {
  display: block;
  position: relative;
}

.phone:hover .phone__drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.phone__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.phone__phone-svg {
  width: 13px;
  height: 19px;
  fill: #f0ac0d;
  margin-right: 6px;
}

.phone__phone-link {
  color: #191919;
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phone__phone-link:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #191919 transparent transparent transparent;
  margin-left: 6px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phone__phone-link:hover {
  color: #f0ac0d;
}

.phone__phone-link:hover:after {
  border-color: #f0ac0d transparent transparent transparent;
}

.phone__drop {
  position: absolute;
  z-index: 20;
  top: 100%;
  left: -10px;
  width: 230px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2px;
  background-color: #ffffff;
}

.phone__drop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px 10px 15px 30px;
  border-bottom: 1px solid #cecece;
}

.phone__drop-item:hover .phone__drop-link {
  color: #f0ac0d;
}

.phone__drop-item:last-child {
  border-bottom: none;
}

.phone__drop-link {
  color: #191919;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.phone__drop-title {
  color: #cecece;
  font-size: 14px;
}

.menu {
  background-color: #f0ac0d;
  border-radius: 4px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu_white {
  background-color: #ffffff;
}

.menu_white .menu__item:hover {
  background-color: #ffffff;
}

.menu_white .menu__item:hover .menu__link {
  color: #f0ac0d;
}

.menu_white .menu__item:hover .menu__link:after {
  border-color: #f0ac0d transparent transparent transparent;
}

.menu_white .menu__link {
  color: #191919;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu_white .menu__link_sub:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #191919 transparent transparent transparent;
  margin-left: 12px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu_white .mmore {
  height: auto;
}

.menu_white .mmore:hover {
  background-color: #ffffff;
}

.menu_white .mmore:hover .mmore__btn-round {
  background: #f0ac0d;
}

.menu_white .mmore__btn-round {
  background: #191919;
}

.menu_small {
  position: static;
  height: 100%;
}

.menu_small .menu__link_sub:before {
  content: '';
  display: none;
  position: absolute;
  top: 100%;
  left: -1000px;
  height: 100vh;
  width: 1000vw;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.menu_small .menu__link {
  font-size: 16px;
  padding: 20px;
}

.menu_small .mmore__btn-round {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background: #191919;
}

.menu.cut .mmore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.menu__list.nogrow {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.menu__item_catalog {
  position: static;
}

.menu__item:hover {
  background-color: #f6c03f;
}

.menu__item:hover .menu__link:before {
  display: block;
}

.menu__item:hover .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item:hover > .submenu2 {
  display: block;
}

.menu__item:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 45px;
  width: 100%;
}

.menu__link_sub:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 3px 0 3px;
  border-color: #ffffff transparent transparent transparent;
  margin-left: 12px;
}

.mmore {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.mmore:hover {
  background-color: #f6c03f;
}

.mmore:hover .mmore__list {
  display: block;
}

.mmore.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mmore__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  height: 61px;
}

.mmore__btn-round {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 6px;
}

.mmore__btn-round:last-child {
  margin-right: 0;
}

.mmore__list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 295px;
  background: #f8f8f8;
  padding: 0 25px;
  -webkit-box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
}

.mmore__item {
  display: block;
  padding: 15px 0;
  padding-right: 12px;
  border-bottom: 1px solid #cecece;
  position: relative;
  color: #191919;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.mmore__item:last-child {
  border-bottom: none;
}

.mmore__item:hover {
  color: #f0ac0d;
}

.submenu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  height: 410px;
  background: #f8f8f8;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 39px;
  overflow-y: auto;
  -webkit-box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
}

.submenu::-webkit-scrollbar {
  width: 6px;
  background-color: #f8f8f8;
}

.submenu::-webkit-scrollbar-track {
  background-color: #f8f8f8;
}

.submenu::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: #f0ac0d;
}

.submenu__cat {
  width: calc(100% / 4);
  padding: 0 60px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.submenu__cat:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 10px;
  width: 1px;
  background: rgba(206, 206, 206, 0.7);
}

.submenu__cat:last-child:after {
  display: none;
}

.submenu__title {
  position: relative;
  display: block;
  margin-bottom: 13px;
  padding: 6px 0;
}

.submenu__title:hover .submenu__title-title {
  color: #f0ac0d;
}

.submenu__title-svg {
  position: absolute;
  left: -40px;
  top: 50%;
  margin-top: -10px;
  width: 23px;
  height: 19px;
  fill: #f0ac0d;
}

.submenu__title-title {
  color: #000000;
  font-weight: 500;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.submenu__list {
  margin-bottom: 10px;
}

.submenu__item {
  display: block;
  color: #9a9a9a;
  font-size: 14px;
  padding: 6px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.submenu__item:hover {
  color: #f0ac0d;
}

.submenu__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 6px 0;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.submenu__more:hover .submenu__more-round {
  background-color: #9a9a9a;
}

.submenu__more-round {
  width: 6px;
  height: 6px;
  background-color: #f0ac0d;
  border-radius: 50%;
  margin-right: 6px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.submenu__more-round:last-child {
  margin-right: 0;
}

.submenu2 {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 295px;
  background: #f8f8f8;
  padding: 0 25px;
  -webkit-box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 4px 8px -4px rgba(0, 0, 0, 0.15);
}

.submenu2_right {
  top: 0;
  bottom: 0;
  left: 100%;
}

.submenu2_right:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  width: 25px;
}

.submenu2__item:last-child > .submenu2__link {
  border-bottom: none;
}

.submenu2__item:hover > .submenu2 {
  display: block;
}

.submenu2__link {
  display: block;
  padding: 15px 0;
  padding-right: 12px;
  border-bottom: 1px solid #cecece;
  position: relative;
  color: #191919;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.submenu2__link:last-child {
  border-bottom: none;
}

.submenu2__link:hover {
  color: #f0ac0d;
}

.submenu2__link_arr:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 22px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-color: transparent transparent transparent #f0ac0d;
}

.fixmenu {
  position: fixed;
  z-index: 100;
  top: -300px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.fixmenu.active {
  top: 0;
}

.fixmenu__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.fixmenu__logo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(15.41667% - 20px);
}

@media screen and (max-width: 767.99px) {
  .fixmenu__logo {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .fixmenu__logo {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.fixmenu__menu {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(59.58333% - 20px);
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

@media screen and (max-width: 767.99px) {
  .fixmenu__menu {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .fixmenu__menu {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.fixmenu__controls {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(8.33333% - 20px);
}

@media screen and (max-width: 767.99px) {
  .fixmenu__controls {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .fixmenu__controls {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.fixmenu__phones {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(16.66667% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media screen and (max-width: 767.99px) {
  .fixmenu__phones {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .fixmenu__phones {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ibanner__slider {
  position: relative;
}

.ibanner__slider_arr .ibanner__prev, .ibanner__slider_arr .ibanner__next {
  opacity: 1;
  pointer-events: all;
}

.ibanner__slider:hover .ibanner__prev, .ibanner__slider:hover .ibanner__next {
  opacity: 1;
  pointer-events: all;
}

.ibanner__slide {
  height: 738px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ibanner__slide-imgs {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ibanner__slide-img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.ibanner__slide-img_t {
  display: none;
}

.ibanner__slide-img_m {
  display: none;
}

.ibanner__slide-container {
  height: 100%;
  position: relative;
  z-index: 20;
}

.ibanner__slide-row {
  padding-top: 220px;
  padding-bottom: 55px;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ibanner__slide-content {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(83.33333% - 20px);
  margin-left: calc(8.33333% + 10px);
  margin-right: calc(8.33333% + 10px);
}

@media screen and (max-width: 767.99px) {
  .ibanner__slide-content {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ibanner__slide-content {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ibanner__slide-title {
  font-size: 45px;
  margin-bottom: 20px;
}

.ibanner__slide-txt {
  color: #191919;
  font-size: 24px;
  margin-bottom: 40px;
  line-height: 1.14583;
}

.ibanner__slide-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ibanner__slide-link {
  margin-right: 20px;
}

.ibanner__slide-link:last-child {
  margin-right: 0;
}

.ibanner__nav {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.ibanner__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-top: 220px;
  padding-bottom: 30px;
}

.ibanner__arrs {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ibanner__prev, .ibanner__next {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ibanner__pag {
  position: static;
  width: 100%;
  pointer-events: all;
}

.ibanner__pag .swiper-pagination-bullet {
  width: 50px;
  height: 4px;
  background: #ffffff;
  opacity: 1;
  border-radius: 0;
  margin: 0 10px;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ibanner__pag .swiper-pagination-bullet-active {
  height: 8px;
  background: #f0ac0d;
}

.iadvantages {
  padding-top: 50px;
  padding-bottom: 20px;
}

.iadvantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-left: -10px;
  margin-right: -10px;
}

.iadvantage {
  max-width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.iadvantage__img {
  height: 60px;
  margin-bottom: 10px;
}

.iadvantage__img-img {
  max-height: 100%;
}

.iadvantage__title {
  color: #191919;
  font-size: 18px;
  margin-bottom: 15px;
}

.iadvantage__txt {
  color: #9a9a9a;
  font-size: 14px;
}

.iservices {
  padding-top: 70px;
  padding-bottom: 90px;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
  background-color: #f8f8f8;
}

.iservices__top {
  margin-bottom: 40px;
}

.iservice {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.33333% - 20px);
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  background-color: #ffffff;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

@media screen and (max-width: 767.99px) {
  .iservice {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .iservice {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.iservice:hover .iservice__left {
  background-color: #f6c03f;
}

.iservice:hover .iservice__title {
  color: #ffffff;
}

.iservice:hover .iservice__svg {
  fill: #ffffff;
}

.iservice__left, .iservice__right {
  width: 50%;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.iservice__left {
  padding: 25px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.iservice__title {
  color: #191919;
  font-weight: 300;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.iservice__svg {
  width: 56px;
  height: 8px;
  fill: #f0ac0d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.iservice__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.iprojects {
  padding-top: 85px;
  padding-bottom: 15px;
}

.iprojects__container {
  margin-bottom: 60px;
}

.iprojects__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iproject {
  width: 420px;
  height: 300px;
  overflow: hidden;
}

.iproject:hover:before {
  opacity: 0;
}

.iproject:hover:after {
  opacity: 1;
}

.iproject:hover .iproject__img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.iproject:hover .iproject__txt {
  display: block;
}

.iproject__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.iproject:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.64)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.64) 0%, rgba(0, 0, 0, 0) 100%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
}

.iproject:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(83.32%, rgba(0, 0, 0, 0.3)));
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 83.32%);
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 83.32%);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 83.32%);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.iproject__content {
  position: absolute;
  z-index: 10;
  bottom: 24px;
  left: 20px;
  right: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.iproject__title {
  color: #ffffff;
  font-weight: 600;
}

.iproject__txt {
  color: #ffffff;
  font-size: 14px;
  margin-top: 15px;
  display: none;
}

.iproject__svg {
  margin-top: 15px;
  width: 56px;
  height: 8px;
  fill: #f0ac0d;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ipops {
  padding-top: 60px;
  padding-bottom: 100px;
  border-bottom: 1px solid #cecece;
}

.ipop {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 767.99px) {
  .ipop {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ipop {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ipop:hover .ipop__title {
  color: #f0ac0d;
}

.ipop__img {
  height: 200px;
  margin-bottom: 15px;
}

.ipop__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ipop__title {
  color: #191919;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ipop__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.ipop__prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ipop__priceold {
  margin-left: 7px;
}

.ipop__svg {
  margin-left: auto;
  width: 56px;
  height: 12px;
  fill: #f0ac0d;
}

.irecom {
  padding-top: 60px;
  padding-bottom: 85px;
}

.irecom__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 55px;
}

.irecom__prev, .irecom__next {
  position: relative;
  z-index: 2;
}

.irecom__container {
  width: calc(100% - 40px);
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px 10px 15px 10px;
}

.irecom__pag {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.irecom__item {
  height: auto;
}

.irecom__item .item {
  height: 100%;
}

.ipromo {
  height: 332px;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ipromo__wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.ipromo__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ipromo__title {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 12px;
  display: block;
}

.ipromo__txt {
  color: #ffffff;
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
}

.icats {
  padding-top: 115px;
  padding-bottom: 80px;
  border-bottom: 1px solid #cecece;
  background-color: #f8f8f8;
}

.icats__top {
  margin-bottom: 50px;
}

.icat {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  border: 1px solid #cecece;
  background-color: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 767.99px) {
  .icat {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .icat {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.icat:hover {
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
}

.icat:hover .icat__img:after {
  background-color: #f0ac0d;
}

.icat__img {
  height: 221px;
  display: block;
  position: relative;
}

.icat__img:after {
  content: '';
  display: block;
  position: absolute;
  left: 65px;
  right: 65px;
  bottom: -3px;
  height: 6px;
  background-color: #cecece;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.icat__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.icat__bottom {
  height: 76px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  border-top: 1px solid #cecece;
}

.iactions {
  padding: 110px 0;
}

.iactions__top {
  margin-bottom: 40px;
}

.iactions__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 65px;
}

.iactions__container {
  padding: 10px;
  width: calc(100% - 40px);
  margin-left: -10px;
  margin-right: -10px;
}

.iactions__prev, .iactions__next {
  position: relative;
  z-index: 2;
}

.iactions__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.iaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.iaction:hover {
  background-color: #f0ac0d;
  color: #ffffff;
}

.iaction__img {
  height: 265px;
}

.iaction__img-img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.iaction__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 25px 22px 35px 22px;
}

.iaction__date {
  display: block;
  margin-bottom: 10px;
}

.iaction__title {
  font-size: 20px;
  font-weight: 600;
}

.inews {
  background-color: #f8f8f8;
  padding-top: 70px;
  padding-bottom: 100px;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}

.inew {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media screen and (max-width: 767.99px) {
  .inew {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .inew {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.inew:hover .inew__title {
  color: #f0ac0d;
}

.inew:hover .inew__link {
  color: #f0ac0d;
  fill: #f0ac0d;
}

.inew__img {
  height: 201px;
  margin-bottom: 20px;
}

.inew__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.inew__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.inew__date {
  color: #9a9a9a;
  margin-bottom: 10px;
}

.inew__title {
  color: #191919;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.inew__txt {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 20px;
}

.inew__link {
  margin-top: auto;
}

.iabout {
  border-bottom: 1px solid #cecece;
  padding: 75px 0;
}

.iabout .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.iabout__left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

@media screen and (max-width: 767.99px) {
  .iabout__left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .iabout__left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.iabout__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(50% - 20px);
}

@media screen and (max-width: 767.99px) {
  .iabout__right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .iabout__right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.iabout__top {
  padding-left: 20px;
  padding-bottom: 10px;
  border-left: 12px solid #f0ac0d;
  margin-bottom: 30px;
}

.iabout__bread {
  color: #9a9a9a;
  font-weight: 500;
  margin-bottom: 15px;
}

.iabout__title {
  color: #191919;
  font-size: 28px;
  font-weight: 600;
}

.iabout__content {
  margin-bottom: 45px;
}

.iabout__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.iabout__link {
  margin-right: 12px;
}

.iabout__catalog {
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.irevs {
  padding-top: 75px;
  padding-bottom: 65px;
  border-bottom: 1px solid #cecece;
}

.irevs__top {
  margin-bottom: 40px;
}

.irevs__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
}

.irevs__container {
  padding: 10px;
  width: calc(100% - 40px);
  margin-left: -10px;
  margin-right: -10px;
}

.irevs__prev, .irevs__next {
  position: relative;
  z-index: 2;
}

.irevs__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 60px;
}

.irevs__btn {
  display: block;
  margin: 0 auto;
}

.irev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 50px 25px 30px 25px;
}

.irev:hover .irev__link {
  color: #f0ac0d;
  fill: #f0ac0d;
}

.irev__img {
  width: 152px;
  height: 152px;
  border: 1px solid #cecece;
  border-radius: 50%;
  padding: 12px;
  margin-bottom: 15px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.irev__img-wrap {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.irev__img-img {
  display: block;
}

.irev__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.irev__title {
  color: #191919;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.irev__prof {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center;
}

.irev__rating {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 15px;
}

.irev__txt {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 25px;
}

.irev__link {
  -ms-flex-item-align: end;
  align-self: flex-end;
}

.ibrands {
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 45px;
}

.ibrands__top {
  margin-bottom: 30px;
}

.ibrands__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.ibrands__container {
  padding: 10px;
  width: calc(100% - 40px);
  margin-left: -10px;
  margin-right: -10px;
}

.ibrands__prev, .ibrands__next {
  position: relative;
  z-index: 2;
}

.ibrands__pag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ibrand {
  height: 199px;
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ibrand:hover {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #e9e8e8;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.item:hover {
  -webkit-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.item.nopadding .item__top {
  padding: 0;
}

.item.nopadding .item__img-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.item.noheight .item__img {
  height: auto;
}

.item__top {
  padding: 20px;
  padding-bottom: 0;
  position: relative;
}

.item__img {
  height: 234px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.item__img-img {
  max-width: initial;
  display: block;
}

.item__sticks {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 70px;
  display: block;
}

.item__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 25px;
}

.item__control {
  fill: #cecece;
  margin-right: 5px;
}

.item__control:last-child {
  margin-right: 0;
}

.item__control.active {
  fill: #f0ac0d;
}

.item__control_compare {
  width: 17px;
  height: 15px;
}

.item__control_favorite {
  width: 16px;
  height: 13px;
}

.item__control-svg {
  max-width: 100%;
  max-height: 100%;
}

.item__bottom {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 20px;
}

.item__avaible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.item__avaible__round {
  width: 10px;
  height: 10px;
  border: 1px solid #14c264;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 7px;
  border-radius: 50%;
}

.item__avaible__round:before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #14c264;
}

.item__avaible__txt {
  color: #14c264;
  font-size: 12px;
}

.item__prices {
  margin-bottom: 10px;
  width: 100%;
}

.item__priceold {
  margin-left: 10px;
}

.item__title {
  width: 100%;
  color: #000000;
  margin-bottom: 20px;
}

.item__buy {
  margin-top: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 10px;
}

.item__fast {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.sticks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.stick {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 8px;
  margin: 0 2.5px 5px 2.5px;
}

.stick:last-child {
  margin-bottom: 0;
}

.stick_hit {
  background-color: #2d9cdb;
}

.stick_recom {
  background-color: #bb6bd9;
}

.stick_new {
  background-color: #14c264;
}

.stick_action {
  background-color: #fbdc3f;
  color: #191919;
}

.footer {
  background-color: #333333;
}

.footer__top {
  padding-top: 70px;
  padding-bottom: 40px;
}

.footer__top-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(75% - 20px);
  margin-right: calc(4.16667% + 10px);
}

@media screen and (max-width: 767.99px) {
  .footer__top-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__top-left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__top-right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(20.83333% - 20px);
}

@media screen and (max-width: 767.99px) {
  .footer__top-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__top-right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__col {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
}

@media screen and (max-width: 767.99px) {
  .footer__col {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .footer__col {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.footer__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 17px;
  display: block;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__title:hover {
  color: #f0ac0d;
}

.footer__item {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__item:hover {
  color: #f0ac0d;
}

.footer__contacts {
  margin-bottom: 40px;
}

.footer__contact {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__contact:last-child {
  margin-bottom: 0;
}

.footer__contact:hover {
  color: #f0ac0d;
}

.footer__bottom {
  background-color: #2d2d2d;
  padding: 25px 0;
}

.footer__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copy {
  color: #ffffff;
  font-weight: 300;
}

.socials__title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.socials__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.socials__item {
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  fill: rgba(255, 255, 255, 0.8);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.socials__item:hover {
  fill: #f0ac0d;
}

.socials__item-svg {
  max-height: 100%;
  max-width: 100%;
}

.developer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
}

.developer:hover {
  text-decoration: underline;
}

.developer__txt {
  font-weight: 300;
  margin-right: 10px;
}

.ffeed {
  background-color: #f0ac0d;
  padding: 40px 0;
}

.ffeed__row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ffeed__left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(47.5% - 20px);
}

@media screen and (max-width: 767.99px) {
  .ffeed__left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ffeed__left {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ffeed__title {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

.ffeed__right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(52.5% - 20px);
}

@media screen and (max-width: 767.99px) {
  .ffeed__right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ffeed__right {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ffeed__field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(33.33333% - 20px);
}

@media screen and (max-width: 767.99px) {
  .ffeed__field {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (max-width: 575.99px) {
  .ffeed__field {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.ffeed__input {
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 12px 15px;
  font-size: 13px;
}

/*# sourceMappingURL=main.css.map */