//variables
//fonts
$font: 'Open Sans', Arial, sans-serif;

//colors
$text: #333333;
$bg: #ffffff;
$button: #ef4836;
$button-hover: rgba (#ef4836, 0.6);
$require: red;

//another
$font-size: 16px;

//layout
/*-----------------SECTION-MIXINS--------------------*/
@import "layout/mixins";
/*------------------------SECTION-FONTS----------------*/
@import "layout/fonts";
/*------------------------SECTION-SMART-GRID----------------*/
@import "layout/smart-grid";
/*------------------------SECTION-ADJUSTMENT----------------*/
@import "layout/adjustment";
/*------------------------SECTION-COMMON----------------*/
@import "layout/common";

//sections
/*------------------------SECTION-HEADER----------------*/
@import "sections/header";
/*------------------------SECTION-FOOTER---------------------*/
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}