//variables
//fonts
$font: 'SF Pro Display', Arial, sans-serif;

//colors
$bg: #ffffff;
$bg2: #f8f8f8;
$main1: #f0ac0d;
$black: #000000;
$icon: #cecece;
$text: #606060;
$main3: #14c264;
$main2: #f6c03f;
$validation: #f53535;
$link: #f6af24;
$text2: #9a9a9a;
$headers: #191919;
$border: #e8e8e8;

//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/catalog";
@import "sections/product";
@import "sections/popup";
@import "sections/loader";
@import "sections/mmenu";
@import "sections/basket";
@import "sections/compare";
@import "sections/services";
@import "sections/actions";
@import "sections/news";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}