extends ../main

block variables
    - var title = 'Ремонт комнаты под ключ'
    - var main = false

block content
    .catalog.service.action
        .action__banner.abanner
            .abanner__img
                picture
                    source(srcset='images/content/action/bg.jpg' type='image/jpeg' media='(min-width:991.9px)')
                    source(srcset='images/content/action/bg-t.jpg' type='image/jpeg' media='(min-width:768.9px)')
                    source(srcset='images/content/action/bg-m.jpg' type='image/jpeg' media='(min-width:320px)')
                    img(src='images/content/action/bg.jpg' alt='lorem1').abanner__img-img
            .container.abanner__container
                .row.abanner__row
                    .abanner__content
                        .abanner__title Ремонт комнаты под ключ
                        .abanner__txt 25% скидка на ремонт комнаты под ключ с бесплатным предварительным замером
                        .abanner__btns
                            button(type='button').abanner__btn.btn.jsCall Заказать звонок
                            a(href='action.html').abanner__link.btn2 Подробнее

        .container
            .row
                //- left
                aside.catalog__left.left
                    //- menu
                    .catalog__menu
                        +amenu2()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='services.html').bread__link
                            span.bread__link-txt Акции
                        span.bread__link.active
                            span.bread__link-txt Ремонт комнаты под ключ
                    //- title
                    h1.catalog__title.right__title.service__title Кладка кирпича
                    //- top
                    .service__top
                        .service__content
                            .content
                                p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!
                                h3 Мы оказываем профессиональные услуги по сборке мебели:
                                ul
                                    li кухни;
                                    li шкафы и прихожие;
                                    li комоды;
                                    li корпусная мебель;
                                    li диваны и кресла;
                                    li кровати;
                        //- quote
                        blockquote.service__quote.
                            Ответственно подходим к каждому заказу и выполняем работы аккуратно и качественно.
                            По окончании всех работ проводим уборку, и вы принимаете заказ уже в чистом помещении.
                        .service__content
                            .content
                                p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!
                                h5 Акция дествует с 20.12.2019 до 20.01.2020 г.

                    //- banner
                    .service__banner
                        .sbanner
                            .sbanner__left
                                .sbanner__img
                                    +image('images/content/service/icon.svg','sbanner__img-img')
                                .sbanner__txt Оформите заявку на сайте, мы свяжемся с вами в ближайшее время и ответим на все интересующие вопросы.
                            .sbanner__right
                                .sbanner__oldprice 1 200 р./м.2
                                .sbanner__price 1 000 р./м.2
                                button(type='button').btn.sbanner__btn.jsCall ЗАКАЗАТЬ УСЛУГУ
                    //- recom
                    .service__recom
                        +precom('Товары к услуге')
