extends ../main

block variables
    - var title = 'Бренды'
    - var main = false

block content
    .catalog.brands
        .container
            .row
                //- left
                aside.catalog__left.left
                    //- menu
                    .catalog__menu
                        +amenu2()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Бренды
                    //- title
                    h1.catalog__title.right__title Бренды
                    //- top
                    .brands__top
                        .content
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!

                    //- list
                    .catalog__list
                        .row
                            each i,x in [1,2,3,4,5,6,1,2,3,4,5,6,1,2,3,4]
                                a(href='brand.html').brands__item
                                    span.brands__item-wrap
                                        +image('images/content/index/brands/'+i+'.png','brands__item-img')

                    //- bottom
                    .catalog__bottom
                        .content
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!


