extends ../main

block variables
    - var title = 'Кладка кирпича'
    - var main = false

block content
    .cabinet
        .container
            .row
                //- left
                aside.left
                    //- menu
                    .catalog__menu
                        +amenu3()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Личный кабинет
                    //- title
                    h1.cabinet__title Личный кабинет
                    //- list
                    .cabinet__list
                        each i in cabinetList
                            a(href=i.href).cabinet__item
                                span.cabinet__img
                                    +icon(i.icon,'cabinet__icon cabinet__icon_' + i.icon)
                                span.cabinet__item-titlel= i.title