extends ../main

block variables
    - var title = 'Каталог'
    - var main = false

block content
    .catalog
        .container
            .row
                //- left
                aside.catalog__left.left
                    //- menu
                    .catalog__menu
                        +amenu(asideMenu,asideMenu2)

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Каталог
                    //- title
                    h1.catalog__title.right__title Каталог
                    //- top
                    .catalog__top
                        .content
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!

                    //- list
                    .catalog__list
                        .row
                            each i,x in catalogCats
                                +icat(i.title,i.src,'catalog__cat')

                    //- bottom
                    .catalog__bottom
                        .content
                            p Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!


