extends ../main

block variables
    - var title = 'Корзина'
    - var main = false

block content
    main.basket.favorite
        //- main
        section.basket__main.favorite__main
            form.basket__form
                .container
                    //- bread
                    .basket__bread.bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Избранное

                    //- title
                    h1.title.basket__title Избранное

                    //- row
                    .row
                        //- left
                        .basket__left
                            //- table
                            .basket__table.btable
                                table.btable__table
                                    //- top
                                    tr.btable__top
                                        td(colspan=2).btable__w-1.btable__th
                                            .btable__title
                                                +icon('basket','btable__title-svg btable__title-svg_cart')
                                                .btable__title-txt.btable__title-txt_15b Избранные товары
                                        td.btable__w-3.btable__th
                                            .btable__title.btable__title_center
                                                .btable__title-txt
                                                    | В избранных:&nbsp;
                                                    b 2 товара
                                        td.btable__w-4.btable__th
                                            button(type='button').btable__title.basket__clear
                                                +icon('close','btable__title-svg btable__title-svg_close')
                                                span.btable__title-txt.btable__title-txt_m Очистить


                                    //- head
                                    tr.btable__headers
                                        td.btable__w-1
                                            .btable__head.btable__head_b Товар
                                            .btable__title.btable__title_m
                                                .btable__title-txt
                                                    | В избранных:&nbsp;
                                                    b 2 товара
                                        td.btable__w-2
                                            .btable__head Цена
                                        td.btable__w-3
                                            .btable__head Количество
                                        td.btable__w-4
                                            .btable__head

                                //- list
                                .btable__list
                                    each i in [1,2]
                                        +citem('citem_basket citem_favorite')


                        //- right
                        .basket__right
                            .basket__block
                                .bblock
                                    .bblock__title
                                        +icon('cabinet','bblock__title-svg')
                                        .bblock__title-txt Личный кабинет
                                    .bblock__content
                                        .bblock__info
                                            .bblock__info-left
                                                +image('images/icons/info.svg','bblock__info-img')
                                            .bblock__info-right
                                                .bblock__info-txt Зарегистрируйтесь на сайте, чтобы получить доступ в личный кабинет и вести архив и отслеживать статус заказов
                                                .bblock__info-links
                                                    a(href='registration.html').bblock__info-link Зарегистрироваться
                                                    a(href='enter.html').bblock__info-link
                                                        +icon('cabinet','bblock__info-svg')
                                                        | Войти

        //- actions
        section.basket__actions
            +iactions('iactions_basket')

        //- recom
        section.basket__recom
            .brecom
                .container
                    //- top
                    +title('Рекомендуем','ВСЯ ПРОДУКЦИЯ','catalog.html','brecom')

                    //- slider
                    div(data-speed='500'  data-pagination='true').brecom__slider
                        button(type='button' class='brecom__prev').arrow.brecom__prev
                            +icon('prev','arrow__svg')
                        .swiper-container.brecom__container
                            .swiper-wrapper
                                each i in irecomItems
                                    .swiper-slide.brecom__item
                                        +item(i)
                        button(type='button' class='brecom__next').arrow.brecom__next
                            +icon('next','arrow__svg')
                    //- pag
                    div(class='brecom__pag').brecom__pag
                        .pag



