extends ../main

block variables
    - var title = 'Личные данные'
    - var main = false

block content
    .cabinet.data
        .container
            .row
                //- left
                aside.left
                    //- menu
                    .catalog__menu
                        +amenu3()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='cabinet.html').bread__link
                            span.bread__link-txt Личный кабинет
                        span.bread__link.active
                            span.bread__link-txt Личные данные
                    //- title
                    h1.data__title Личный счет
                    //- main
                    form.data__fields
                        .data__field
                            .data__label
                                | Фамилия Имя Отчество
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='text' name='name' value='Иванов Алексей Сергеевич').data__input.input
                                .data__right
                                    .data__txt Заполните чтобы мы знали как к вам обращаться
                        .data__field
                            .data__label
                                | Email
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='email' name='email' value='stroishop@mail.ru').data__input.input
                                .data__right
                                    .data__txt Для отправки уведомлений о статусе заказа. Используйте как логин для входа в личный кабинет
                        .data__field
                            .data__label
                                | Телефон
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='tel' name='tel' value='+7 (900) 520 55 66').data__input.input
                                .data__right
                                    .data__txt Необходим для уточнения деталей заказа
                        .data__field
                            a(href='/').data__btn.btn Сохранить изменения