extends ../main

block variables
    - var title = 'Текущие заказы'
    - var main = false

block content
    .cabinet.orders
        .container
            .row
                //- left
                aside.left
                    //- menu
                    .catalog__menu
                        +amenu3()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='cabinet.html').bread__link
                            span.bread__link-txt Личный кабинет
                        span.bread__link.active
                            span.bread__link-txt Текущие заказы
                    //- title
                    h1.orders__title Текущие заказы
                    //- list
                    .orders__list
                        each i in [1,2,3,4]
                            .orders__item.order
                                //- top
                                .order__top
                                    .order__num
                                        | Номер заказа:&nbsp;
                                        b 131805
                                    .order__sum
                                        | Сумма:&nbsp;
                                        b 14 500 руб.
                                    .order__status Статус:&nbsp;
                                        //еще доп класс order__status_or - в ожидании
                                        span.order__status_b Отправлено&nbsp;
                                        span.order__status_l 24.03.2020 14:31

                                //- bottom
                                .order__bottom
                                    .order__date
                                        b Дата оформления:&nbsp;
                                        | 24.03.2020 14:31
                                    .order__items
                                        each i in [1,2,3]
                                            a(href='product.html').order__item.oitem
                                                span.oitem__title
                                                    span.oitem__title-txt Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671
                                                span.oitem__prices
                                                    span.oitem__oldprice 10 000 руб.
                                                    span.oitem__price 7 000 руб.
                                    .order__delivery
                                        .order__delivery-title Доставка:
                                        .order__delivery-item.oitem
                                            span.oitem__title
                                                span.oitem__title-txt В пределах мкад
                                            span.oitem__prices
                                                span.oitem__price 500 руб.
                                    .order__total
                                        .oitem.order__total-item
                                            span.oitem__title.oitem__title_b
                                                span.oitem__title-txt Итого:
                                            span.oitem__prices
                                                span.oitem__price.oitem__price_b 14 500 руб.
                                    .order__info.oinfo
                                        .oinfo__item
                                            .oinfo__img
                                                +icon('car','oinfo__img-svg oinfo__img-svg_car')
                                            .oinfo__txt Тверская улица, дом 13, квартира 23. Ближайшая станция метро: Краснопресненская. 4 подъезд, 5 этаж. Код домофона: #5455
                                        .oinfo__item
                                            .oinfo__img
                                                +icon('wallet','oinfo__img-svg oinfo__img-svg_wallet')
                                            .oinfo__txt Оплата при получении заказа, наличными.
                                    .order__client
                                        .order__client-title Информация о клиенте:
                                        .oclient
                                            .oclient__item
                                                .oclient__img
                                                    +icon('cabinet','oclient__svg oclient__svg_cabinet')
                                                .oclient__txt Алексей Иванов
                                            .oclient__item
                                                .oclient__img
                                                    +icon('tel2','oclient__svg oclient__svg_tel2')
                                                .oclient__txt +7 900 000 00 00
                                            .oclient__item
                                                .oclient__img
                                                    +icon('pin','oclient__svg oclient__svg_pin')
                                                .oclient__txt alex@gmail.com
                                            .oclient__item
                                                .oclient__img
                                                    +icon('pin','oclient__svg oclient__svg_pin2')
                                                .oclient__txt Тверская улица, дом 13, квартира 23. Ближайшая станция метро: Краснопресненская. 4 подъезд, 5 этаж. Код домофона: #5455
                    //- back
                    a(href='/').orders__back
                        +icon('arrow-s-left','orders__back-svg')
                        .orders__back-txt Вернуться к покупкам



