extends ../main

block variables
    - var title = 'Сменить пароль'
    - var main = false

block content
    .cabinet.data
        .container
            .row
                //- left
                aside.left
                    //- menu
                    .catalog__menu
                        +amenu3()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='cabinet.html').bread__link
                            span.bread__link-txt Личный кабинет
                        span.bread__link.active
                            span.bread__link-txt Сменить пароль
                    //- title
                    h1.data__title Сменить пароль
                    //- main
                    form.data__fields
                        .data__field
                            .data__label
                                | Новый пароль
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='password' name='password').data__input.input
                                .data__right
                                    .data__txt Длина пароля не менее 6 символов
                        .data__field
                            .data__label
                                | Новый пароль еще раз
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='password' name='re-password' ).data__input.input
                                .data__right
                                    .data__txt
                        .data__field
                            a(href='/').data__btn.btn Сохранить изменения