extends ../main

block variables
    - var title = 'Подписки'
    - var main = false

block content
    .cabinet.data
        .container
            .row
                //- left
                aside.left
                    //- menu
                    .catalog__menu
                        +amenu3()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        a(href='cabinet.html').bread__link
                            span.bread__link-txt Личный кабинет
                        span.bread__link.active
                            span.bread__link-txt Подписки
                    //- title
                    h1.data__title Подписки
                    //- main
                    form.data__fields
                        .data__field
                            .data__row
                                .data__left
                                    .data__label
                                        | Авторизация
                                        br
                                        |Адрес подписки будет принадлежать пользователю: Алексей [stroishop@mail.ru]
                                .data__right
                                    .data__txt
                                        |Вы можете&nbsp;
                                        a(href='/') закончить сеанс
                                        |, чтобы авторизоваться под другим пользователем.
                        .data__field
                            .data__field-title Настройки подписки
                            .data__label
                                | Ваш e-mail
                                span.data__label_r *
                            .data__row
                                .data__left
                                    input(type='email' name='email' value='stroishop@mail.ru').data__input.input
                                .data__right
                                    .data__txt После добавления или изменения адреса подписки вам будет выслан код подтверждения. Подписка будет не активной до ввода кода подтверждения.
                        .data__field
                            .data__sub
                                | Рубрики подписки
                                span.data__sub_r *
                            .data__checks.checks
                                each i in ['Новости магазина']
                                    label.check
                                        input(type='checkbox' name='brend' value=i checked=true).check__input
                                        span.check__fake
                                            span.check__check
                                                +icon('check2','check__check-svg')
                                            span.check__title= i
                        .data__field
                            .data__policy
                                | Заполняя данную форму Вы соглашаетесь с&nbsp;
                                a(href='/') Политикой обработки персональных данных
                        .data__field
                            .data__btns
                                a(href='/').btn.data__add Добавить
                                a(href='/').btn2.data__reset Сброс

