extends ../main

block variables
    - var title = 'Что за новый проект, который планируется строить в западном округе Москвы для Роскосмоса?'
    - var main = false

block content
    .new
        .container
            //- bread
            .new__bread.bread
                a(href='/').bread__link
                    +icon('home','bread__link-svg')
                a(href='news.html').bread__link
                    span.bread__link-txt Новости
                span.bread__link.active
                    span.bread__link-txt Что за новый проект, который планируется строить в западном округе Москвы для Роскосмоса?
            .row
                //- left
                main.new__left
                    //- title
                    h1.new__title Что за новый проект, который планируется строить в западном округе Москвы для Роскосмоса?
                    //- info
                    .new__info
                        .new__info-item 20.12.2019
                        .new__info-item Автор: Администратор
                    //- top
                    .new__top
                        .new__top-left
                            +image('images/content/new/img.jpg','new__img')
                        .new__top-right
                            .new__content
                                .new__content-top
                                    .content
                                        p Компания АО "Мосинжпроект" в этом году приступила к реализации большого проекта - возведение здания Национального космического центра на территории ГКНПЦ им. М. В. Хруничева. Благодаря этому объекту на одной площадке объединятся ведущие предприятия ракетно-космической промышленности: центральный офис "Роскосмоса", штаб-квартиры ряда организаций отрасли и подразделения головных отраслевых институтов, современный образовательный комплекс, конструкторские бюро, центр поддержки бизнеса, выставочные центры и так далее.
                                        p Масштабный комплекс позволит создать порядка 20 тысяч новых рабочих мест. Сейчас начались подготовительные работы, выбрана на конкурсной основе архитектурная концепция, а завершить
                                        p Компания АО "Мосинжпроект" в этом году приступила к реализации большого проекта - возведение здания Национального космического центра на территории ГКНПЦ им. М. В. Хруничева. Благодаря этому объекту на одной площадке объединятся ведущие предприятия ракетно-космической промышленности: центральный офис "Роскосмоса", штаб-квартиры ряда организаций отрасли и подразделения головных отраслевых институтов, современный образовательный комплекс, конструкторские бюро, центр поддержки бизнеса, выставочные центры и так далее.
                                        p
                                            b Масштабный комплекс позволит создать порядка 20 тысяч новых рабочих мест. Сейчас начались подготовительные работы, выбрана на конкурсной основе архитектурная концепция, а завершить основные строительные работы планируется в течение трех лет.
                                        picture(style='float:right; ')
                                            source(srcset='images/content/new/img2.jpg' type='image/jpeg' media='(min-width:991.9px)')
                                            source(srcset='images/content/new/img2-t.jpg' type='image/jpeg' media='(min-width:768.9px)')
                                            source(srcset='images/content/new/img2.jpg' type='image/jpeg' media='(min-width:320px)')
                                            img(src='images/content/new/img2.jpg' alt='lorem1')
                                        p Компания АО "Мосинжпроект" в этом году приступила к реализации большого проекта - возведение здания Национального космического центра на территории ГКНПЦ им. М. В. Хруничева. Благодаря этому объекту на одной площадке объединятся ведущие предприятия ракетно-космической промышленности: центральный офис "Роскосмоса", штаб-квартиры ряда организаций отрасли и подразделения головных отраслевых институтов, современный образовательный комплекс, конструкторские бюро, центр поддержки бизнеса, выставочные центры и так далее.
                                        p Масштабный комплекс позволит создать порядка 20 тысяч новых рабочих мест. Сейчас начались подготовительные работы, выбрана на конкурсной основе архитектурная концепция, а завершить основные строительные работы планируется в течение трех лет.
                                .new__content-bottom
                                    .new__from Источник: РИА новости о Недвижимости
                                    .new__share
                                        .share
                                            .share__txt ПОДЕЛИТЬСЯ:
                                            button(type='button').share__btn
                                                +icon('share','share__svg')
                    //- recom
                    .new__recom
                        +precom('Товары по теме')
                    //- services
                    .new__services
                        +nservices()
                //- right
                aside.new__right
                    .new__list
                        each i in [1,2,3,4,5]
                            .new__item
                                +nitem()

