extends ../main

block variables
    - var title = 'Отзывы'
    - var main = false

block content
    .catalog.news
        .container
            .row
                //- left
                aside.catalog__left.left
                    //- menu
                    .catalog__menu
                        +amenu2()

                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС

                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Отзывы
                    //- title
                    h1.catalog__title.right__title Отзывы

                    //- list
                    .catalog__list.news__list
                        .revs
                            .revs__txt Предоставляем спектр услуг по установке, монтажу, настройке электроники и сантехники. Занимаемся скупкой и экологичной утилизацией старой техники. А также предлагаем воспользоваться системой кредитования для того, чтобы вы смогли приобрести необходимый товар или услугу прямо сейчас. Выполняем работы в день заказа, делаем все быстро и качественно!
                            button(type='button' data-ajax='ajax.php' data-id='286').revs__btn.btn.jsReview Оставить отзыв
                            .revs__list
                                each i in [1,2,3,4,5,6,7]
                                    .rev
                                        .rev__left
                                            .rev__img
                                                .rev__img-wrap
                                                    +image('images/content/product/rev1.jpg','rev__img-img')
                                        .rev__right
                                            // -date
                                            .rev__date 18.12.2019
                                            //- top
                                            .rev__top

                                                .rev__top-wrap
                                                    .rev__left.rev__left_m
                                                        .rev__img
                                                            .rev__img-wrap
                                                                +image('images/content/product/rev1.jpg','rev__img-img')

                                                    .rev__top-block
                                                        //- left
                                                        .rev__top-left
                                                            .rev__name Александр Баженов
                                                            .rev__prof Генеральный директор ООО “Техно - Дом”
                                                        //- right
                                                        .rev__top-right
                                                            .rev__rating
                                                                +rating()

                                            //- txt
                                            .rev__txt Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах. В целом, очень удобная площадка. Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Переведено с английского языка.-Текст-заполнитель - это текст, который имеет некоторые характеристики реального письменного текста, но является случайным или генерируемым иным образом. Он может использоваться для отображения образца шрифтов, создания текста для тестирования или для подделки фильтра нежелательной почты.
                                            .rev__hidden
                                                //- imgs
                                                .rev__imgs
                                                    each j in [1,2,3,4]
                                                        .rev__image
                                                            a(href='images/content/reviews/img.jpg' data-fancybox="images" + i).rev__image-fancy
                                                                +image('images/content/reviews/img.jpg','rev__image-img')
                                                //- yt
                                                .rev__yt
                                                    iframe(src="https://www.youtube.com/embed/lhOWb_CZeZQ").rev__yt-iframe
                                            .rev__bottom
                                                button(type='button').rev__more
                                                    span.rev__more-open Развернуть
                                                    span.rev__more-close Свернуть
                        button(type='button').news__more Показать еще
                        .news__pag
                            +pagination()
