extends ../main

block variables
    - var title = 'Поиск'
    - var main = false

block content
    .catalog.search
        .container
            .row
                //- left
                aside.catalog__left.left
                    //- consult
                    .catalog__consult
                        .catalog__consult-top
                            .catalog__consult-image
                                +image('images/content/catalog/img.svg','catalog__consult-img')
                            .catalog__consult-title Нужна консультация?
                            .catalog__consult-txt Наши специалисты ответят на любой интересующий вопрос
                        button(type='button').catalog__consult-btn.jsQuestion ЗАДАТЬ ВОПРОС


                    //- banner
                    a(href='category.html').catalog__banner
                        span.catalog__banner-image
                            +image('images/content/catalog/img2.jpg','catalog__banner-img')
                        span.catalog__banner-title Строиматериалы оптом

                //- right
                main.catalog__right.right
                    //- bread
                    .catalog__bread.bread.right__bread
                        a(href='/').bread__link
                            +icon('home','bread__link-svg')
                        span.bread__link.active
                            span.bread__link-txt Поиск
                    //- title
                    h1.catalog__title.right__title Поиск
                    //- search
                    form(action='search.html' method='post').catalog__search.search__top
                        input(type='search').search__input
                        button(type='submit').search__submit.btn НАЙТИ
                    //- list
                    //Дополнительный класс list
                    .catalog__list.lis
                        .catalog__row
                            each i in [1,2,3,4,5,6,7,8,9,10,11,12]
                                .catalog__item
                                    +item({
                                        src: 'images/content/catalog/1.jpg',
                                        sticks: true,
                                        enabled: true,
                                        price: '7 000 РУБ.',
                                        priceOld: '65 000 руб.',
                                        title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
                                        inbasket: false
                                    })


                        button(type='button').catalog__more Показать еще
                        .catalog__pag
                            +pagination()



