.btn {
  width: 177px;
  border-radius: 4px;
  background-color: $main1;
  display: inline-block;

  color: $bg;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 10px;
  @include tr;

  @include md-block {
    width: 157px;
    padding: 8px;
    text-transform: none;
  }
  @include sm-block {
    width: 105px;
    font-size: 12px;
    padding: 6px 5px 5px 5px;
  }

  &:hover, &:focus {
    background-color: $main2;
    color: $bg;
  }

  &:active {
    background-color: $main1;
  }
}

.btn2 {
  @extend .btn;
  border: 1px solid $main1;
  background-color: transparent;
  color: $main1;
  @include md-block {
    width: 157px;
    padding: 8px;
    text-transform: none;
  }
  @include sm-block {
    width: 120px;
    font-size: 12px;
    padding: 6px 5px 5px 5px;
  }

  &_w {
    border: 2px solid $bg;
    color: $bg;
    font-size: 14px;
    padding: 9px 20px;

    &:hover {
      background-color: $bg;
      border: 2px solid $bg;
      color: $main1;
    }
  }
}

.btn3 {
  display: flex;
  align-items: center;
  fill: $text2;
  color: $text2;
  font-size: 14px;
  @include tr;


  &:hover {
    fill: $main1;
    color: $main1;
  }

  &__svg {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    @include sm-block{
      width: 10px;
      height: 10px;
    }
  }

  &__txt {

    text-decoration: underline;
    text-decoration-style: dashed;
    @include sm-block{
      font-size: 10px;
    }
  }
}

.btn4 {
  border-radius: 100px;
  background-color: $main1;
  display: inline-block;

  color: $black;
  font-size: 18px;
  font-weight: 600;
  padding: 8px 40px;
  @include tr;
  @include sm-block{
    padding: 8px 30px;
    font-size: 12px;
    height: 33px;
  }

  &:hover, &:focus {
    background-color: $main2;
  }

  &:active {
    background-color: $main1;
  }
}

.add {
  width: 180px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $main1;
  display: flex;
  align-items: center;
  justify-content: center;
  @include tr;

  @include md-block {
    width: 163px;
    height: 37px;
  }
  @include sm-block{
    font-size: 10px;
  }

  &_product{
    height: 47px;
  }

  &__svg {
    width: 11px;
    height: 9px;
    fill: $bg;
    display: none;
    margin-right: 12px;
  }

  &__txt {
    color: $main1;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    @include tr;
    @include md-block {
      font-size: 10px;
    }
  }

  &__txt2 {
    color: $bg;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    display: none;
    @include md-block {
      font-size: 10px;
    }
  }

  &:hover {
    background-color: $main1;

    .add {
      &__txt {
        color: $bg;
      }
    }
  }

  &__mobile {
    display: none;
    width: 12px;
    height: 12px;
    fill: $main1;
  }

  &_in {
    background-color: $main1;

    .add {
      &__svg {
        display: flex;
      }

      &__txt {
        display: none;
      }

      &__txt2 {
        display: flex;
      }

      &__mobile {
        fill: $bg;
      }
    }
  }

}

.arr {
  width: 59px;
  height: 59px;
  border-radius: 50%;
  background-color: rgba($bg, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: $main1;
  @include tr;

  &:hover, &:focus {
    background-color: $bg;
  }

  &:active {
    background-color: rgba($bg, .5);
  }

  &__svg {
    width: 11px;
    height: 19px;
  }
}

.title {
  margin-bottom: 50px;
  display: flex;
  //flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  @include sm-block {
    margin-bottom: 25px;
  }

  &__subtitle {
    color: $text2;
    text-transform: uppercase;
    margin-left: 15px;
    white-space: nowrap;
    @include tr;
    @include sm-block {
      font-size: 12px;
    }

    &:hover {
      color: $main1;
    }
  }

}

.pag {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  @include sm-block {
    margin-left: -5px;
    margin-right: -5px;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 4px;
    background-color: $icon;
    opacity: 0.6;
    border-radius: 0;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    @include sm-block {
      width: 29px;
      height: 3px;
      margin-left: 5px;
      margin-right: 5px;
    }

    &-active {
      background-color: $main1;
      opacity: 1;
    }
  }
}

.price {
  color: $headers;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  @include md-block {
    font-size: 14px;
  }
  @include sm-block{
    font-size: 12px;
  }

  &_green {
    color: $main3;
  }
}

.priceold {
  color: $text2;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: line-through;
  @include md-block {
    font-size: 10px;
  }
}

.tabset {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include sm-block {
    justify-content: flex-start;
  }

  &__select {
    display: none;
    border-radius: 4px;
    border-bottom: 4px solid $main1;
    overflow: hidden;
    position: relative;


    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $black transparent transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: -2.5px;
      right: 5px;
    }

    &-select{
      border: none;
      outline: none;
      color: $black;
      font-size: 16px;
      font-weight: 600;
      padding: 8px 5px;
      padding-right: 20px;
      background: $bg2;
      appearance: none;
    }

    @include sm-block {
      display: block;
    }
  }

  &__label {
    color: $text2;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 8px;
    border-bottom: 4px solid transparent;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
    @include sm-block {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__input {
    display: none;

    &:checked + .tabset__label {
      color: $black;
      //font-weight: 600;
      border-bottom: 4px solid $main1;
    }

    @for $i from 1 through 5 {
      &:nth-of-type(#{$i}):checked ~ .tabset__tabs {
        .tabset__tab:nth-child(#{$i}) {
          position: relative;
          z-index: 1;
          opacity: 1;
        }
      }
    }

  }

  &__tabs {
    width: 100%;
    margin-top: 40px;
    position: relative;
  }

  &__tab {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    width: 100%;
  }
}

.arrow {
  fill: $main1;
  stroke: $bg;
  @include tr;


  &:hover, &:focus {
    fill: $main2;
  }

  &:active {
    fill: $main1;
  }

  &__svg {
    width: 30px;
    height: 60px;
  }
}

.link {
  display: flex;
  align-items: center;
  fill: $text2;
  @include tr;

  &__txt {
    font-size: 14px;
    margin-right: 7px;
    @include md-block {
      margin-right: 20px;
    }
  }

  &__svg {
    width: 29px;
    height: 8px;
  }
}

.rating {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__star {
    margin-right: 12px;
    @include sm-block{
      margin-right: 10px;
    }


    &:last-child {
      margin-right: 0;
    }

    &.active {
      .rating__star-svg {
        fill: $link;
      }
    }

    &-svg {
      width: 24px;
      height: 24px;
      fill: $icon;
      @include md-block {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__count{
    color: $icon;
    margin-left: 8px;
  }
}

.overflow {
  overflow: hidden;
}

.phone {
  display: block;
  position: relative;

  &:hover {
    .phone__drop {
      display: flex;
      @include md-block {
        display: none;
      }
    }
  }


  &__phone {
    display: flex;
    align-items: center;

    &-svg {
      width: 13px;
      height: 19px;
      fill: $main1;
      margin-right: 6px;
    }

    &-link {
      color: $headers;
      font-size: 18px;
      font-weight: 700;
      display: flex;
      align-items: center;
      @include tr;

      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: $headers transparent transparent transparent;
        margin-left: 6px;
        @include tr;
        @include md-block {
          display: none;
        }
      }

      &:hover {
        color: $main1;

        &:after {
          border-color: $main1 transparent transparent transparent;
        }
      }
    }
  }

  &__drop {
    position: absolute;
    z-index: 20;
    top: 100%;
    left: -10px;
    width: 230px;
    display: none;
    flex-direction: column;
    border-radius: 2px;
    background-color: $bg;
    @include lg-block {
      left: -20px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding: 15px 10px 15px 30px;
      border-bottom: 1px solid $icon;

      &:hover {
        .phone__drop-link {
          color: $main1;
        }
      }

      &:last-child {
        border-bottom: none;
      }
    }

    &-link {
      color: $headers;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 0;
      @include tr;
    }

    &-title {
      color: $icon;
      font-size: 14px;
    }
  }


}

.scroll{
  position: fixed;
  bottom: 30px;
  left: 0;
  right: 0;
  z-index: 90;
  pointer-events: none;
  @include md-block{
    bottom: 10px;
  }
  @include sm-block{
    display: none;
  }

  &__wrap{
    position: relative;
  }

  &__btn{
    opacity: 0;
    position: absolute;
    left: calc(100% + 20px);
    bottom: 100%;
    pointer-events: all;
    @include tr;

    @include to(1480px){
      right: 0;
      left: initial;
    };

    &.active{
      opacity: .5;
    }

    &:hover{
      opacity: 1;
    }
    &-svg{
      width: 62px;
      height: 62px;
      fill: $main1;
      stroke: $bg;
    }
  }
}

.bread{

  &__link {
    padding: 0 15px;
    border-right: 1px solid $text2;
    line-height: 1.8;

    &:first-child{
      padding-left: 0;
    }

    &.active{
      border-color: transparent;

    }

    &-svg{
      width: 17px;
      height: 18px;
      fill: $main1;
      display: inline-block;
      margin-bottom: -2px;
    }

    &-txt {
      color: $text2;
      font-size: 14px;
      line-height: 1;
      @include sm-block{
        font-size: 12px;
      }
    }
  }
}

.pt{
  display: block;
  width: 100%;

  &_221x177 {
    padding-top: calc((177 / 221) * 100%);
  }
  &_78x60 {
    padding-top: calc((60 / 78) * 100%);
  }

}

.left {
  @include col;
  @include size(6);
  @include md-block {
    display: none;
  }
}

.right {
  @include col;
  @include size(18);
  padding-left: 20px;

  @include lg-block {
    padding-left: 0;
  }
  @include size-md(24);
  @include size-sm(24);


  &__bread {
    margin-bottom: 5px;
    @include md-block {
      margin-bottom: 20px;
    }
    @include sm-block {
      margin-bottom: 10px;
    }
  }

  &__title {
    margin-bottom: 25px;
  }
}

.req{
  color: $validation;
}

.count {
  height: 34px;
  border-radius: 4px;
  border: 1px solid $border;
  display: flex;
  position: relative;

  &_product{
    height: 47px;
  }

  &__btn {
    min-width: 25px;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: $icon;
    font-size: 20px;
    //font-weight: 600;
    @include tr;

    &:hover {
      color: $text;
    }
  }

  &__minus {
    left: 0;
  }

  &__plus {
    right: 0;
  }

  &__input {
    width: 100%;
    appearance: none;
    font-size: 14px;
    text-align: center;
    padding: 0 25px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}