//variables
$vh: 1080;

@function rem($size) {
  $remSize: $size / $font-size;
  @return $remSize * 1rem;
}

@mixin fz($size) {
  font-size: $size;
  font-size: rem($size);
}

@function lh($size1, $size2) {
  $lh: $size2 / $size1;
  @return $lh;
}

@function vh($size) {
  @return $size/$vh *100*1vh;
}

@mixin tr(){
  transition: .3s;
}

@mixin content() {

  * {
    &:first-child {
      margin-top: 0;
    }
  }

  h1, h2, h3, h4 {
    margin: 40px 0;
    @include sm-block{
      margin: 30px 0;
    }
  }

  h5, h6, p {
    margin-bottom: 30px;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  table {
    margin-bottom: 40px;
    width: 100%;
    border-collapse: collapse;
    @include sm-block{
      margin-bottom: 30px;
    }

    tr{
      &:nth-child(even){
        background: $bg2;
      }
    }

    td {
      border: 1px solid $border;
      padding: 8px 15px;
      font-size: 13px;
      @include sm-block{
        padding: 8px;
      }


      &:nth-child(1){
        width: 35%;
        color: $text;
        @include sm-block{
          width: 50%;
        }
      }
      &:nth-child(2){
        width: 65%;
        color: $black;
        @include sm-block{
          width: 50%;
        }
      }
    }
  }

  ul {
    margin-bottom: 30px;
    margin-left: 20px;

    li {
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 6px;
        height: 6px;
        background-color: #ffb800;
        border-radius: 50%;
        margin-right: 20px;
        line-height: inherit;
        position: relative;
        top: -2px;
      }

      ol {
        margin-bottom: 0;
        counter-reset: li;

        li {
          &:before {
            counter-increment: li;
            content: counters(li, ".") ". ";
            margin-right: 20px;
            display: inline-block;
            width: auto;
            height: auto;
            background: none;
            top: 0;
          }
        }
      }

      ul {
        margin-bottom: 0;
        li {
          &:before {
            border: 1px solid #ffb800;
            background-color: transparent;
          }
        }
      }
    }
  }

  ol {
    margin-bottom: 30px;
    counter-reset: li;
    margin-left: 20px;

    li {
      &:before {
        counter-increment: li;
        content: counters(li, ".") ". ";
        margin-right: 20px;
        display: inline-block;
      }

      ul {
        margin-bottom: 0;
        counter-reset: none;

        li {
          &:before {
            content: '';
          }
        }
      }

      ol{
        margin-bottom: 0;
      }
    }

  }

  a{
    color: $main1;
    display: inline-block;
    margin-bottom: 30px;
    @include tr;

    &:hover{
      color: $headers;
    }
  }

  blockquote{
    padding: 18px 20px;
    margin-bottom: 30px;
    color: $headers;
    border-left: 6px solid $main1;
  }

  .yt{
    position: relative;
    max-width: 690px;
    margin: 0 auto;
    margin-bottom: 30px;

    &:before{
      content: '';
      display: block;
      width: 100%;
      padding-top: calc((9 / 16) * 100%);
    }

    iframe{
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

}