.about {

  &__title{
    margin-bottom: 25px;
  }

  &__row{
    margin-bottom: 45px;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__left {
    @include col;
    @include size(3.2/9*24);
    @include size-sm(24);
  }

  &__right {
    padding-top: 30px;
    @include col;
    @include size(5.8/9*24);
    @include size-sm(24);
  }

  &__advantages{
    margin-bottom: 20px;
  }
}

.aadvantages {

  .row{
    justify-content: center;
  }
}

.aadvantage {
  @include col;
  @include size(8);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  @include size-lg(12);
  @include size-md(8);
  @include size-sm(12);
  @include sm-block{
      flex-direction: column;
  }

  &__left{
    min-width: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;
    @include md-block{
      min-width: 60px;
      width: 60px;
      margin-right: 20px;
    }
    @include sm-block{
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }

  &__title{
    font-size: 18px;
    @include md-block{
      font-size: 14px;
      margin-bottom: 5px;
    }
    @include sm-block{
      text-align: center;
    }
  }

  &__txt{
    color: $text2;
    font-size: 14px;
    @include md-block{
      font-size: 12px;
    }
    @include sm-block{
      text-align: center;
    }
  }
}