.cart {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__top {
    padding: 40px;
    border-bottom: 1px solid $border;
  }

  &__title {
    margin-bottom: 0;
    font-size: 30px;
  }

  &__middle {
    padding: 0;
    border-bottom: 1px solid $border;
  }

  &__total {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    &-right {
      display: flex;
      align-items: baseline;
    }

    &-txt, &-val {
      color: $black;
      font-size: 20px;
      font-weight: 700;
    }

    &-txt {
      margin-right: 15px;
    }

  }

  &__clear {
    display: flex;
    align-items: center;

    &-img {
      width: 18px;
      height: 18px;
      border: 1px solid $icon;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
    }

    &-svg {
      width: 8px;
      height: 8px;
      fill: $icon;
    }

    &-txt {
      color: $icon;
      font-size: 14px;
      text-transform: uppercase;
    }

  }

  &__bottom {
    padding: 40px;
    padding-bottom: 0;
  }

  &__btns {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    width: 212px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    &-btn {
      margin-bottom: 20px;
    }

    &-txt {
      color: $icon;
      font-size: 14px;
    }
  }

  &__one {
    font-size: 18px;
    height: 42px;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  &__buy {
    width: 100%;
  }

}

.citem {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-bottom: 1px solid $border;

  &_basket {
    padding-right: 45px;

    &:last-child {
      border-bottom: none;
      @include sm-block {
        border: 1px solid $border;
      }
    }

    @include md-block {
      padding-right: 20px;
    }
    @include sm-block {
      border: 1px solid $border;
      padding: 0;
      flex-direction: column;
      z-index: 0;
      width: calc(50% + 1px);
      margin-left: -1px;
      margin-top: -1px;

      &:hover {
        z-index: 1;
      }
    }

    .citem {

      &__top {
        padding-right: 45px;
        @include md-block {
          padding-right: 20px;
        }
        @include sm-block {
          padding: 10px;
        }
      }

      &__img {

        @include md-block {
          min-width: 126px;
          width: 126px;
        }
      }

      &__bottom {
        @include sm-block {
          flex-direction: column;
          padding: 10px;
          padding-top: 0;
        }
      }

      &__calc {
        min-width: 216px;
        width: 216px;
        margin-right: 18px;
        @include md-block {
          min-width: 176px;
          width: 176px;
          margin-right: 20px;
        }
        @include sm-block {
          min-width: auto;
          width: 100%;
          margin-right: 0;
        }
      }

      &__btns {
        width: 150px;
        min-width: 150px;
        justify-content: space-between;
        @include md-block {
          min-width: 110px;
          width: 110px;
        }
        @include sm-block{
          min-width: auto;
          width: auto;
        }
      }

      &__btn {
        margin-right: 0;
      }

      &__del {
        align-self: center;
        width: 28px;
        height: 28px;

        @include md-block {
          width: 22px;
          height: 22px;
        }
        @include sm-block{
          position: absolute;
          top: 0;
          right: 0;
          width: 14px;
          height: 14px;
          pointer-events: all;
        }


        &-svg {
          width: 14px;
          height: 14px;
          @include md-block {
            width: 10px;
            height: 10px;
          }
          @include sm-block{
            width: 8px;
            height: 8px;
          }
        }
      }
    }

  }

  &__top {
    padding: 0 20px;
    padding-left: 0;
    @include sm-block{
      position: relative;
    }
  }

  &__img {
    min-width: 151px;
    width: 151px;
    display: block;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: calc((120 / 151) * 100%);
    }

    &-wrap {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include sm-block{
      padding-bottom: 15px;
    }
  }

  &__content {
    margin-right: 10px;
    flex-grow: 1;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__avaible {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include md-block {
      margin-bottom: 3px;
    }
    @include sm-block{
      margin-bottom: 10px;
    }

    &__round {
      width: 10px;
      height: 10px;
      border: 1px solid $main3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 7px;
      border-radius: 50%;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $main3;

      }
    }

    &__txt {
      color: $main3;
      font-size: 12px;
      line-height: 1;
      @include sm-block {
        font-size: 10px;
      }
    }
  }

  &__title {
    max-width: 310px;
    color: $text2;
    font-size: 14px;
    display: block;
  }

  &__prices {
    margin-bottom: 10px;
    //display: flex;
    @include md-block {
      margin-bottom: 5px;
    }
    @include sm-block{
      margin-bottom: 15px;
    }
  }

  &__calc {
    margin-right: 35px;
    min-width: 120px;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__count {
    width: 86px;
    margin-bottom: 15px;
  }

  &__total {
    color: $headers;
    font-size: 12px;
    font-weight: 700;
  }

  &__btns {
    align-self: stretch;
    display: flex;
    align-items: center;
    @include sm-block{
      display: none;
      position: absolute;
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      pointer-events: none;
    }

    &_m{
      display: none;
      @include sm-block{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        min-width: auto;
        width: 100%;
      }
    }
  }

  &__btn {
    display: flex;
    margin-right: 20px;
    fill: $icon;

    @include sm-block{
      background: $bg;
      pointer-events: all;
      align-items: center;
      justify-content: center;
    }

    &_compare {
      @include sm-block {
        width: 27px;
        height: 22px;
        border-top-right-radius: 50%;
        padding-right: 3px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }


    &_favorite {
      @include sm-block {
        width: 27px;
        height: 22px;
        border-top-left-radius: 50%;
        padding-left: 3px;
        svg {
          width: 15px;
          height: 13px;
        }
      }
    }


    &.active {
      fill: $main1;
    }

    &-svg {


      &_compare {
        width: 21px;
        height: 21px;
      }

      &_heart {
        width: 20px;
        height: 18px;
      }

      &_cart {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__del {
    width: 20px;
    height: 20px;
    border: 1px solid $icon;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    @include sm-block{
      position: absolute;
      top: 0;
      right: 0;
      width: 14px;
      height: 14px;
      pointer-events: all;
    }

    &-svg {
      width: 10px;
      height: 10px;
      fill: $icon;
      @include sm-block{
        width: 8px;
        height: 8px;
      }
    }
  }
}

.count {
  height: 34px;
  border-radius: 4px;
  border: 1px solid $border;
  display: flex;
  position: relative;

  &__btn {
    min-width: 25px;
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    color: $icon;
    font-size: 20px;
    //font-weight: 600;
    @include tr;

    &:hover {
      color: $text;
    }
  }

  &__minus {
    left: 0;
  }

  &__plus {
    right: 0;
  }

  &__input {
    width: 100%;
    appearance: none;
    font-size: 14px;
    text-align: center;
    padding: 0 25px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

.basket {

  &__main {
    padding-top: 40px;
    margin-bottom: 220px;
    @include md-block {
      margin-bottom: 60px;
      padding-top: 20px;
    }
    @include sm-block {
      padding-top: 10px;
    }
  }

  &__bread {
    margin-bottom: 30px;
    @include to(1200px) {
      margin-bottom: 20px;
    }
  ;
  }

  &__left {
    @include col;
    @include size(18);
    @include to(1200px) {
      @include size(24);
      order: 1;
    }
  ;
    @include size-sm(24);
  }

  &__table {
    margin-bottom: 40px;
    @include sm-block{
      margin-bottom: 20px;
    }
  }

  &__fields {
    padding: 35px 20px 15px 20px;
    @include md-block {
      padding-top: 20px;
      padding-bottom: 0;
    }
    @include sm-block{
      padding: 20px;
    }
  }

  &__field {
    @include col;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    @include sm-block{
      margin-bottom: 15px;
    }

    &_8 {
      @include size(8);
      @include size-sm(24);
    }

    &_24 {
      @include size(24);
      @include size-sm(24);
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__input {
    border-radius: 4px;
    border: 1px solid $border;
    width: 100%;
    padding: 8px 10px;
    font-weight: 300;

    &_area {
      height: 143px;
    }
  }

  &__right {
    @include col;
    @include size(6);
    @include to(1200px) {
      @include size(24);
      margin-bottom: 20px;
    }
  ;
    @include size-sm(24);
  }

  &__clear {
    width: 100%;
    justify-content: flex-end;
  }

  &__block {
    margin-bottom: 40px;
    @include to(1200px) {
      margin-bottom: 20px;
    }
  ;

    &:last-child {
      margin-bottom: 0;
    }
  }

}

.btable {

  &__table {
    border-collapse: collapse;
    width: 100%;
  }

  &__w {
    &-1 {
      width: 215px;
      padding-left: 20px;
      @include md-block {
        width: 168px;
      }
      @include sm-block {
        width: auto;
        padding-left: 10px;
      }
    }

    &-2 {
      @include sm-block {
        display: none;
      }
    }


    &-3 {
      width: 234px;
      text-align: center;
      padding-right: 18px;
      @include md-block {
        width: 196px;
        padding-right: 20px;
      }
      @include sm-block {
        display: none;
      }
    }

    &-4 {
      width: 195px;
      padding-right: 45px;
      text-align: right;
      alignment: right;
      @include md-block {
        padding-right: 20px;
        width: 130px;
      }
      @include sm-block {
        width: auto;
        padding-right: 10px;
      }
    }
  }

  &__top {
    background-color: $main1;
    border: 1px solid $main1;
  }

  &__title {
    color: $bg;
    fill: $bg;
    display: flex;
    align-items: center;

    &_m{
      display: none;
      @include sm-block{
        display: flex;
        color: $black;
        font-size: 16px;
        padding: 18px 10px;
      }
    }

    &_center {
      justify-content: center;
    }

    &-txt {
      font-size: 16px;
      font-weight: 400;
      @include sm-block{
        font-size: 13px;

      }

      &_15b {
        font-size: 15px;
        font-weight: 700;
        @include sm-block{
          font-size: 13px;
        }
      }

      &_m {
        font-weight: 500;
      }
    }

    &-svg {

      &_cart {
        width: 24px;
        height: 24px;
        margin-right: 20px;
      }

      &_close {
        width: 14px;
        height: 14px;
        margin-right: 10px;
        @include sm-block{
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  &__th {
    padding-top: 17px;
    padding-bottom: 17px;
    @include sm-block {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &__headers {
    background-color: $bg2;
    border: 1px solid $border;
    @include sm-block{
      border-bottom: none;
    }
  }

  &__head {
    color: $text2;
    font-size: 13px;
    padding-top: 19px;
    padding-bottom: 19px;
    @include sm-block{
      display: none;
    }

    &_b {
      color: $black;
      font-size: 15px;
      font-weight: 700;
    }
  }

  &__list {
    border: 1px solid $border;
    border-top: none;
    @include sm-block {
      display: flex;
      flex-wrap: wrap;
      width: calc(100% - 1px);
      margin-top: 1px;
      margin-left: 1px;
      margin-right: 1px;
      border: none;
    }
  }

}

.brow {

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 20px;
    background-color: $main1;
    border: 1px solid $main1;
    @include sm-block{
      padding: 10px;
    }
  }

  &__header {
    color: $bg;
    fill: $bg;
    display: flex;
    align-items: center;
    @include sm-block{
      display: none;
    }

    &_m{
      @include sm-block{
        display: flex;
      }
    }

    &-svg {
      margin-right: 15px;

      &_cart {
        width: 24px;
        height: 24px;
      }
    }

    &-txt {

    }
  }

  &__title {
    padding: 19px 20px;
    color: $black;
    font-size: 15px;
    font-weight: 700;
    background: $bg2;
    border: 1px solid $border;
    @include sm-block{
      font-size: 13px;
    }
  }

  &__content {
    border: 1px solid $border;
    border-top: none;
    border-bottom: none;

    &_p {
      padding: 35px 20px;
      @include md-block {
        padding: 25px 20px;
      }
      @include sm-block{
        padding: 25px 10px;
      }
    }
  }

  &__left {
    @include col;
    @include size(12);
    @include size-sm(24);
    @include sm-block{
      margin-bottom: 25px;
    }
  }

  &__right {
    @include col;
    @include size(12);
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
    @include size-sm(24);
  }

  &__bottom {
    @include col;
    @include size(24);
    margin-top: 25px;
    @include size-sm(24);
  }

}

.bdelivery {

  &__info {
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid $main1;
    padding: 20px;

    &-title {
      color: $black;
      font-size: 15px;
      margin-bottom: 15px;
    }

    &-sub {
      color: $text2;
      font-size: 12px;
      margin-bottom: 15px;
    }

    &-list {
      margin-bottom: 10px;
    }

    &-item {
      color: $black;
      font-size: 12px;
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      color: $main1;
      font-size: 12px;
      text-decoration: underline;
      @include tr;

      &:hover {
        color: $main2;
      }
    }

  }

  &__addr {
    &-info {
      font-size: 14px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    &-input {
      border-radius: 4px;
      border: 1px solid $main1;
      width: 100%;
      padding: 12px;
    }
  }

}

.delopts {

}

.delopt, .payopt {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__label {
    margin-right: 40px;
    cursor: pointer;
    @include sm-block{
      margin-right: 20px;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid $border;
    overflow: hidden;
    @include tr;
  }

  &__input {
    display: none;

    &:checked + .delopt__block, &:checked + .payopt__block {
      border-color: $main1;

      .delopt, .payopt {
        &__bottom {
          background-color: $main1;
        }

        &__price {
          color: $bg;
        }

        &__fake {
          border-color: $main1;
          background-color: $main1;

          &-svg {
            opacity: 1;
          }
        }
      }
    }
  }

  &__top {
    position: relative;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__fake {
    width: 20px;
    height: 20px;
    border: 2px solid $text2;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;

    &-svg {
      width: 14px;
      height: 10px;
      fill: $bg;
      opacity: 0;
      @include tr;
    }
  }

  &__bottom {
    background-color: $bg2;
    border-top: 1px solid $border;
    text-align: center;
    @include tr;
  }

  &__price {
    color: $black;
    font-size: 12px;
    @include tr;
  }

  &__title {
    color: $black;
    font-size: 15px;
    font-weight: 600;
  }

}

.btotal {
  display: flex;
  flex-wrap: wrap;
  background: $bg2;
  padding: 14px 0;
  border: 1px solid $border;
  @include sm-block{
    padding: 35px 0;
  }

  &__col {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $border;
    padding: 10px 20px;
    @include md-block {
      padding: 10px;
    }
    @include sm-block{
      width: 100%;
      padding: 0;
      margin-bottom: 15px;
    }

    &:last-child {
      border-color: transparent;
      margin-bottom: 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &-icon {
      width: 51px;
      height: 51px;
      background-color: $main1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-svg {
      fill: $bg;

      &_cart {
        width: 27px;
        height: 24px;
      }

      &_car {
        width: 33px;
        height: 19px;
      }
    }

    &-left {
      margin-right: 20px;
      @include md-block {
        margin-right: 10px;
      }
    }

    &-title {
      font-size: 13px;
      font-weight: 700;
    }

    &-price {
      font-size: 18px;
    }
  }

  &__price {
    &-txt {
      font-size: 13px;
    }

    &-price {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__submit {
    width: 157px;
    height: 40px;
    border-radius: 100px;
    background-color: $main3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $bg;
    font-size: 14px;
    @include tr;

    @include md-block {
      width: 135px;
      height: 34px;
      font-size: 12px;
    }

    &:hover {
      background-color: $main1;
    }
  }

}

.bblock {

  &__title {
    background-color: $main1;
    display: flex;
    align-items: center;
    padding: 17px 20px;

    &-svg {
      width: 18px;
      height: 18px;
      fill: $bg;
      margin-right: 15px;
    }

    &-txt {
      color: $bg;
      font-size: 18px;
      font-weight: 700;
    }
  }

  &__content {
    border: 1px solid $border;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    @include to(1200px) {
      flex-direction: row;
    }
  ;
    @include sm-block {
      padding: 35px 40px;
      flex-direction: column;
    }

    &-left {
      margin-bottom: 20px;
      @include to(1200px) {
        margin-bottom: 0;
        margin-right: 30px;
      }
      @include sm-block {
        margin-right: 0;
        margin-bottom: 25px;
      }
    }

    &-img {
      @include to(1200px) {
        min-width: 74px;
        width: 74px;
      }
    ;
    }

    &-txt {
      color: $black;
      font-weight: 300;
      margin-bottom: 15px;
      text-align: center;
      @include to(1200px) {
        margin-bottom: 10px;
        text-align: left;
      }
      @include sm-block {
        text-align: center;
        font-size: 16px;
        margin-bottom: 20px;
      }
    }

    &-links {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include to(1200px) {
        flex-direction: row;
      }
    ;
      @include sm-block {
        flex-direction: column;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      color: $main1;
      fill: $main1;
      font-size: 16px;
      text-decoration: underline;
      margin-bottom: 8px;
      @include tr;
      @include to(1200px) {
        margin-bottom: 0;
        margin-right: 25px;
      }
      @include sm-block {
        margin-bottom: 8px;
        margin-right: 0;
      }

      &:hover {
        color: $main2;
        fill: $main2;
      }

      &:last-child {
        margin-bottom: 0;
        margin-right: 0;
      }
    }

    &-svg {
      width: 16px;
      height: 16px;
      margin-right: 7px;
    }
  }


}

.border {
  padding-bottom: 25px;
  @include to(1200px) {
    padding-bottom: 40px;
  }
  @include sm-block{
    padding-bottom: 20px;
  }

  &__list {
    padding: 0 30px;
    @include to(1200px) {
      padding: 0;
    }
  ;
    @include sm-block {
      padding: 0 30px;
    }
  }

  &__item {
    border-bottom: 1px solid $border;
    padding: 10px 0;
    min-height: 60px;
    display: flex;
    align-items: center;
    @include to(1200px) {
      padding: 10px 30px;
    }
  ;
    @include sm-block {
      padding: 10px 0;
      min-height: 55px;
    }

    &:last-child {
      border-color: transparent;
    }

    &-wrap {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-title {
      color: $text2;
      font-size: 13px;
    }

    &-prices {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    &-price {
      color: $black;
      font-size: 13px;
    }

    &-oldprice {
      color: $text2;
      font-size: 12px;
      text-decoration: line-through;
    }
  }

  &__discount {
    background-color: $main3;
    padding: 14px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $bg;
    font-size: 13px;
    font-weight: 400;
    @include sm-block {
      padding: 14px 25px;
    }
  }

  &__total {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $black;
    font-size: 16px;
    font-weight: 700;
    @include sm-block {
      padding: 15px 25px;
      margin-bottom: 10px;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__submit {
    width: 137px;
    height: 40px;
    border-radius: 100px;

    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 15px;
  }

  &__fast {


    .btn3__txt {
      @include sm-block {
        font-size: 16px;
      }
    }

    .btn3__svg {
      @include sm-block {
        width: 18px;
        height: 18px;
        margin-right: 13px;
      }
    }
  }

}

.brecom {
  background-color: $bg2;
  padding-top: 80px;
  padding-bottom: 80px;
  @include md-block {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 30px;
    }
  }

  &__prev, &__next {
    position: relative;
    z-index: 2;
    @include md-block {
      display: none;
    }
  }

  &__container {
    width: calc(100% - 40px);
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px 15px 10px;
    @include md-block {
      width: calc(100% + 20px);
    }
    @include sm-block {
      padding: 0;
    }
  }

  &__pag {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__item {
    height: auto;

    .item {
      height: 100%;
    }
  }
}


