.catalog {
  padding: 40px 0;
  @include md-block {
    padding-top: 15px;
  }

  &__left {
    @include md-block {
      display: block;
    }
  }

  &__menu {
    margin-bottom: 20px;
    @include md-block {
      display: none;
    }
  }

  &__filters {
    margin-bottom: 20px;
    @include md-block {
      margin-bottom: 0;
    }
  }

  &__filters-btn {
    display: none;
    margin-right: 30px;
    @include md-block {
      display: block;
    }
  }

  &__consult {
    border: 1px solid $border;
    background-color: $bg;
    margin-bottom: 20px;
    @include md-block {
      display: none;
    }

    &-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px;
      border-bottom: 1px solid $border;
    }

    &-img {
      margin-bottom: 10px;
    }

    &-title {
      color: $black;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &-txt {
      color: $text2;
      font-size: 14px;
    }

    &-btn {
      width: 100%;
      color: $text2;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      padding: 18px 0;
    }
  }

  &__banner {
    display: block;

    &-image {
      display: block;
    }

    &-img {
      display: block;
    }

    &-title {
      display: block;
      background: $main1;
      color: $bg;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      padding: 22px 15px;
    }
  }

  &__cats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 20px;
    @include md-block {
      margin-bottom: 40px;
    }
  }

  &__top {
    margin-bottom: 65px;
    @include md-block {
      margin-bottom: 35px;
    }
    @include sm-block {
      margin-bottom: 0;
    }
  }

  &__cat {
    @include size(8);
    @include size-md(6);
    @include to(850px) {
      @include size(8);
    }
  ;
    @include size-sm(12);

    .icat {

      &__bottom {
        background: $bg2;
      }

      &__title {
        color: $black;
        font-size: 18px;
        font-weight: 500;
        @include sm-block {
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }

  &__sort {
    display: flex;
    @include sm-block {
      display: none;
    }
  }

  &__panel {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $border;
    margin-bottom: 20px;
  }

  &__controls {
    display: flex;
    margin-left: auto;
  }

  &__control {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      svg {
        fill: $main1;
      }
    }

    &-svg {
      width: 22px;
      height: 22px;
      fill: $icon;
    }
  }

  &__list {
    margin-bottom: 25px;
    @include sm-block {
      margin-bottom: 35px;
    }

    &.list {

      .catalog__row {
        margin: 0;
        width: 100%;
      }

      .catalog__item {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        @include sm-block {
          margin-bottom: 10px;
        }
      }

      .item {
        flex-direction: row;
        align-items: center;
        padding-right: 25px;
        @include lg-block {
          padding-right: 35px;
        }
        @include sm-block {
          padding-right: 10px;
        }

        &__top {
          min-width: 175px;
          width: 175px;
          padding: 0;
          margin-right: 20px;
          @include sm-block {
            min-width: 145px;
            width: 145px;
            margin-right: 0;
            padding: 10px;
          }
        }

        &__sticks {
          top: 10px;
          left: 10px;
          @include sm-block {
            top: 0;
            left: 0;
          }
        }

        &__controls {
          display: none;
          @include sm-block {
            display: flex;
          }

          &_list {
            display: flex;
            flex-wrap: nowrap;
            min-width: auto;
            width: auto;
            position: static;
            justify-content: space-between;
            @include lg-block {
              flex-direction: column;
              align-items: center;
            }
            @include sm-block {
              display: none;
            }
          }
        }

        &__control {
          margin-right: 20px;
          @include lg-block {
            margin-right: 0;
            margin-bottom: 15px;
          }
          @include sm-block {
            margin-bottom: 0;
          }

          &:last-child {
            margin-right: 0;
            margin-bottom: 0;
          }

          &_favorite {
            svg {
              width: 20px;
              height: 18px;
            }

            @include sm-block {
              svg {
                width: 15px;
                height: 13px;
              }
            }
          }

          &_compare {
            svg {
              width: 28px;
              height: 28px;
            }

            @include sm-block {
              svg {
                width: 18px;
                height: 18px;
              }
            }

          }
        }

        &__bottom {
          padding: 10px 0;
          margin-right: 35px;
          flex-direction: row;
          align-items: center;

          @include lg-block {
            margin-right: 25px;
          }
          @include sm-block {
            flex-direction: column;
            align-items: flex-start;
            margin-right: 0;
          }
        }

        &__content {
          margin-right: 30px;
          margin-bottom: 0;
          @include lg-block {
            margin-right: 20px;
          }
          @include sm-block {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }

        &__avaible {
          @include sm-block {
            margin-bottom: 5px;
          }
        }

        &__prices {
          @include sm-block {
            display: flex;
            flex-direction: row;
          }
        }

        &__price {
          @include md-block {
            font-size: 16px;
          }
          @include sm-block {
            font-size: 12px;
          }
        }

        &__priceold {
          @include md-block {
            font-size: 12px;
            margin-left: 20px;
          }
          @include sm-block {
            font-size: 10px;
            margin-left: 5px;
          }
        }

        &__btns {
          min-width: 175px;
          width: 175px;
          @include lg-block {
            min-width: 150px;
          }
          @include sm-block {
            min-width: auto;
            width: 100%;
            flex-direction: row;
            align-items: center;
          }
        }

        &__buy {
          @include sm-block {
            margin-bottom: 0;
            margin-right: 10px;
          }
        }

      }

      .catalog__more {
        border-color: transparent;
        @include sm-block {
          margin-bottom: 20px;
        }
      }

      .add {
        @include sm-block {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          border: 1px solid $main1;
        }

        &__txt {

          @include sm-block{
            display: none;
          }
        }

        &__mobile {
          @include sm-block {
            display: flex;
          }
        }

        &_in {
          .add {

            &__svg {
              @include sm-block {
                display: none;
              }
            }

            &__txt2 {
              @include sm-block {
                display: none;
              }
            }

          }
        }
      }
    }
  }

  &__row {
    width: calc(100% - 1px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
  }

  &__item {
    position: relative;
    z-index: 0;
    width: calc(25% + 1px);
    margin-left: -1px;
    margin-top: -1px;

    @include md-block {
      width: calc(100% / 3 + 1px);
    }
    @include sm-block {
      width: calc(100% / 2 + 1px);
    }

    &:hover {
      z-index: 1;
    }
  }

  &__more {
    background-color: $bg2;
    display: block;
    width: 100%;
    color: $text2;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 55px;
    border: 1px solid $border;
    border-top: none;
    @include tr;

    @include md-block {
      margin-bottom: 40px;
    }
    @include sm-block {
      font-size: 14px;
      padding: 10px;
    }

    &:hover {
      background-color: $main1;
      color: $bg;
    }


  }
}

.item {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 rgba($black, 0.1);
  border: 1px solid $border;
  background-color: $bg;
  box-sizing: border-box;
  position: relative;
  @include tr;

  &:hover {
    box-shadow: 0px 4px 12px rgba($black, 0.25);
    @include md-block {
      box-shadow: none;
    }
  }

  &.nopadding {
    .item {

      &__top {
        padding: 0;
      }

      &__img {
        &-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__sticks {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 70px;
        display: block;
        @include md-block {
          top: 10px;
          left: 10px;
          right: 50px;
        }
        @include sm-block {
          right: 0;
        }
      }
    }
  }

  &.noheight {
    .item {

      &__img {
        height: auto;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    filter: grayscale(100%);
    opacity: .5;
  }

  &__top {
    padding: 20px;
    padding-bottom: 0;
    position: relative;
    @include md-block {
      padding: 10px;
      padding-bottom: 0;
    }
  }

  &__img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    @include md-block {
      //height: 170px;
    }
    @include sm-block {
      //height: 110px;
    }

    &-wrap {
      position: absolute;
      //z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-img {
      max-width: initial;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__sticks {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    display: block;
    @include md-block {
      top: 0;
      left: 0;
      right: 40px;
    }
    @include sm-block {
      right: 0;
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 5px;
    @include md-block {
      top: 0;
      right: 0;
    }
    @include sm-block {
      top: initial;
      bottom: 0;
      right: 0;
      left: 0;
      justify-content: space-between;
    }

    &_list {
      display: none;
    }
  }

  &__control {
    fill: $icon;
    margin-right: 5px;
    display: flex;
    @include sm-block {
      margin-right: 0;
      background-color: $bg;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      fill: $main1;
    }

    &_compare {
      width: 17px;
      height: 15px;
      @include sm-block {
        width: 27px;
        height: 22px;
        border-top-right-radius: 50%;
        padding-right: 3px;
        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    &_favorite {
      width: 16px;
      height: 13px;
      @include sm-block {
        width: 27px;
        height: 22px;
        border-top-left-radius: 50%;
        padding-left: 3px;
        svg {
          width: 15px;
          height: 13px;
        }
      }
    }

    &-svg {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__bottom {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @include md-block {
      padding: 10px;
      padding-bottom: 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex-grow: 1;


  }

  &__avaible {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    @include md-block {
      margin-bottom: 3px;
    }

    &__round {
      width: 10px;
      height: 10px;
      border: 1px solid $main3;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 7px;
      border-radius: 50%;

      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $main3;

      }
    }

    &__txt {
      color: $main3;
      font-size: 12px;
      line-height: 1;
      @include sm-block {
        font-size: 10px;
      }
    }
  }

  &__prices {
    margin-bottom: 10px;
    width: 100%;
    @include md-block {
      margin-bottom: 5px;
    }
  }

  &__price {
    @include sm-block {
      display: block;
    }
  }

  &__priceold {
    white-space: nowrap;
    margin-left: 10px;
    @include sm-block {
      display: block;
      margin-left: 0;
    }
  }

  &__title {
    width: 100%;
    color: $black;
    @include md-block {
      font-size: 14px;
    }
    @include sm-block {
      font-size: 12px;
      margin-top: auto;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__buy {
    margin-top: auto;
    align-self: center;
    margin-bottom: 10px;
    max-width: 100%;
    @include sm-block {
      height: 24px;
    }

  }

  &__fast {
    align-self: center;
  }

}

.sticks {
  width: calc(100% + 5px);
  display: flex;
  flex-wrap: wrap;
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.stick {
  color: $bg;
  font-size: 12px;
  font-weight: 500;
  padding: 0px 8px;
  margin: 0 2.5px 5px 2.5px;
  @include md-block {
    font-size: 11px;
    padding: 0 6px;
  }

  &_hit {
    background-color: #2d9cdb;
  }

  &_recom {
    background-color: #bb6bd9;
  }

  &_new {
    background-color: $main3;
  }

  &_action {
    background-color: #fbdc3f;
    color: $headers;
  }
}

.amenu {
  border: 1px solid $border;

  &__title {
    background-color: $main1;
    color: $bg;
    font-size: 18px;
    font-weight: 700;
    padding: 17px 20px;
  }

}

.aitem {

  &__link {
    display: block;
    font-weight: 300;
    padding: 18px 20px;
    padding-right: 35px;
    position: relative;
    @include tr;

    &:after {
      content: '';
      display: none;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $text transparent transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: -2.5px;
      right: 20px;
      @include tr;
    }

    &_arr {
      &:after {
        display: block;
      }
    }

    &:hover {
      color: $main1;

      &:after {
        border-color: $main1 transparent transparent transparent;
      }
    }

    &.active {
      background-color: rgba($text, .1);

      &:after {
        transform: rotate(-180deg);
      }

    }
  }

  border-bottom: 1px solid $border;

  &:last-child {
    border-bottom: 1px solid transparent;
  }
}

.asubmenu {
  display: none;
  padding: 0 30px;
  background-color: $bg2;

  &__item {
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 13px 0;
    border-bottom: 1px solid $border;
    @include tr;

    &:last-child {
      border-bottom: 1px solid transparent;
    }

    &:hover {
      color: $main1;
    }

  }
}

.filters {
  border: 1px solid $icon;

  @include tr;

  @include md-block {
    position: fixed;
    z-index: 110;
    top: 0;
    bottom: 0;
    height: 100%;
    left: -400px;
    width: 320px;
    display: block;
    border: none;
  }
  @include sm-block {
    left: -500px;
    width: 100%;
  }

  &:before {
    content: '';
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba($black, .2);
    pointer-events: all;
    display: none;
  }

  &.active {
    left: 0;

    &:before {
      display: block;
    }
  }

  &__block {
    position: relative;
    z-index: 90;
    display: flex;
    flex-direction: column;
    background: $bg;
    height: 100%;
    @include sm-block {
      //padding-bottom: 20px;
    }
  }

  &__title {
    background-color: $main1;
    padding: 17px 20px;
    display: flex;
    align-items: center;
    position: relative;

    @include md-block {
      background-color: $bg2;
    }

    &-svg {
      width: 11px;
      height: 6px;
      fill: $headers;
      margin-right: 6px;
      display: none;
      @include md-block {
        display: flex;
      }
    }

    &-txt {
      color: $bg;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      @include md-block {

        color: $headers;
        font-size: 16px;
        font-weight: 500;
        text-transform: none;
      }
    }
  }

  &__list {
    flex-grow: 1;
    overflow-y: auto;
    @include sm-block {
      margin-bottom: 59px;
    }
  }

  &__close {
    padding: 10px;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    right: 15px;
    display: none;

    @include md-block {
      display: block;
    }

    &-svg {
      width: 14px;
      height: 14px;
      display: flex;
      fill: $icon;
    }
  }

  &__btns {
    display: flex;
    flex-direction: column;
    padding: 25px;
    position: relative;

    @include md-block {
      padding: 0;
    }
    @include sm-block {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__submit {
    width: 100%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
    @include md-block {
      border-radius: 0;
      padding: 20px 10px;
      margin-bottom: 0;
    }

  }

  &__reset {
    padding: 10px 10px;
    background-color: $bg2;
    border-radius: 4px;
    @include md-block {
      border-radius: 0;
      background-color: transparent;
      position: absolute;
      top: 50%;
      margin-top: -17px;
      right: 15px;
    }

    &-txt {
      color: $text2;
      font-size: 13px;
      font-weight: 400;
      @include md-block {
        display: none;
      }
    }

    &-svg {
      width: 14px;
      height: 14px;
      fill: $bg;
      display: none;
      @include md-block {
        display: block;
      }
    }


  }

}

.filters-btn {
  display: flex;
  align-items: center;

  &__svg {
    width: 11px;
    height: 6px;
    fill: $text;
    margin-right: 6px;
  }

  &__txt {
    font-weight: 300;
  }
}

.filter {
  padding: 10px 20px;
  border-bottom: 1px solid $border;

  &_m {
    padding: 10px 0;
    display: none;
    @include sm-block {
      display: block;
    }

    .filter__title {
      padding: 18px 20px;

      &:after {
        right: 20px;
      }
    }

  }

  &:last-child {
    @include md-block {
      //border-bottom-color: transparent;
    }
  }

  &.active {
    .filter {
      &__title {
        &:after {
          transform: rotate(-180deg);
        }
      }
    }
  }

  &__title {
    display: block;
    font-weight: 700;
    padding: 18px 0;
    padding-right: 15px;
    position: relative;
    font-size: 13px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    @include tr;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $text transparent transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: -2.5px;
      right: 0;
      @include tr;
    }

    &:hover {
      color: $main1;
      @include md-block {
        color: $text;
      }

      &:after {
        border-color: $main1 transparent transparent transparent;
        @include md-block {
          border-color: $text transparent transparent transparent;
        }
      }
    }

    &.active {
      &:after {
        transform: rotate(-180deg);
      }

    }
  }

  &__content {
    display: none;
  }

  &__sort {
    display: block;
    font-size: 14px;
    padding: 10px 20px;

    &.active {
      color: $main1;
    }
  }
}

.range {
  padding-bottom: 25px;

  &__fields {
    display: flex;
    align-items: center;

    &-seporator {
      min-width: 15px;
      width: 15px;
      height: 3px;
      background: $text2;
      margin: 0 10px;
    }
  }

  &__field {
    width: calc(50% - 17.5px);
  }

  &__input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $icon;
    background-color: $bg;
    padding: 10px 10px;
    font-size: 13px;
    font-weight: 400;
    color: $text2;

  }

  .irs--round {

    .irs-line {
      height: 5px;
      border-radius: 8px;
      background-color: $icon;
    }

    .irs-bar {
      background-color: $main1;
      height: 5px;
    }

    .irs-handle {
      width: 16px;
      height: 16px;
      border: 2px solid $icon;
      background-color: $bg;
      box-shadow: none;
      top: 30px;
      cursor: pointer;
    }

  }

  .irs-min, .irs-max {
    top: calc(100% + 50px);
    color: $text2;
    font-size: 13px;
    font-weight: 400;
    font-family: "SF Pro Display";
    background-color: transparent;
  }
}

.checks {

}

.check {
  display: block;
  padding: 5px 0;
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .check__fake {
      .check {
        &__check {
          background: $main1;
          border-color: $main1;

          &-svg {
            opacity: 1;
          }
        }
      }
    }
  }

  &__fake {
    display: flex;
    align-items: center;
  }

  &__check {
    width: 18px;
    height: 18px;
    border: 1px solid $icon;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    @include tr;

    &-svg {
      width: 14px;
      height: 10px;
      fill: $bg;
      opacity: 0;
      @include tr;
    }
  }

  &__title {
    color: $text2;
    font-size: 13px;
  }


}

.colors {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.color {
  display: block;
  width: 42px;
  height: 42px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;

  &__input {
    display: none;

    &:checked + .color__fake {
      border-color: $main1;
    }
  }


  &__fake {
    width: 100%;
    height: 100%;
    border: 2px solid $icon;
    padding: 5px;
    display: block;
    cursor: pointer;
    @include tr;

    &-color {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

}

.ccat {
  position: relative;
  z-index: 0;
  width: calc(100% / 3 + 1px);
  margin-left: -1px;
  margin-top: -1px;
  border: 1px solid $border;
  display: flex;
  align-items: center;
  @include tr;
  @include sm-block {
    width: calc(100% / 1 + 1px);
  }


  &:hover {
    z-index: 1;
    box-shadow: 0 2px 8px rgba($black, 0.15);
    @include md-block {
      box-shadow: none;
    }

    .ccat__title {
      color: $main1;
      @include md-block {
        color: $text;
      }
    }
  }

  &__left {
    min-width: 98px;
    width: 98px;
    padding: 10px;
    @include sm-block {
      min-width: 70px;
      width: 70px;
    }
  }

  &__img {
    position: relative;
    display: block;

    &-wrap {
      position: absolute;
      display: block;
      z-index: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    display: block;
    color: $headers;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
    @include tr;

    @include sm-block {
      margin-bottom: 0;
    }
  }

  &__sub {
    display: block;
    color: $text2;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
  }

}

.csort {
  position: relative;

  &:hover {
    .csort__drop {
      display: block;
    }
  }

  &__title {
    font-size: 14px;
    padding: 8px 0;
    padding-right: 20px;
    position: relative;

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      border-color: $text transparent transparent transparent;
      position: absolute;
      top: 50%;
      margin-top: -2.5px;
      right: 0;
    }


  }

  &__drop {
    box-shadow: 0 4px 12px rgba($black, 0.25);
    background-color: $bg;
    position: absolute;
    z-index: 20;
    top: 100%;
    left: 0;
    min-width: 100%;
    display: none;
  }

  &__link {
    display: block;
    padding: 10px;
    font-size: 14px;
    background: $bg;
    @include tr;

    &:hover {
      color: $main1;
    }

    &.active {
      color: $main1;
      background: $bg2;
    }
  }

}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    margin: 0 5px;

    &:hover {
      .pagination__item {

        &-svg {
          fill: $main1;
        }

        &-txt {
          color: $main1;
        }
      }
    }

    &.active {
      .pagination__item {
        &-txt {
          color: $main1;
          border-color: $main1;
        }
      }
    }

    &_left, &_right {
      padding: 0 10px;
    }

    &_left {
      margin: 0;
      margin-right: 35px;
    }

    &_right {
      margin: 0;
      margin-left: 35px;
    }

    &-svg {
      width: 9px;
      height: 14px;
      fill: $text2;
      display: flex;
      @include tr;
    }

    &-txt {
      display: block;
      text-align: center;
      min-width: 20px;
      font-size: 18px;
      color: $text2;
      border-bottom: 2px solid transparent;

    }
  }

}

