.header {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;

  &_second{
    position: static;

    .header{
      &__top{
        background-color: #2d2d2d;
      }

      &__bottom{
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
      }
    }
  }

  &__top {
    background-color: rgba($black, .25);
    padding: 9px 0;
    @include md-block{
      display: none;
    }

    &-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__city {
    color: $bg;
    display: flex;
    align-items: center;
    @include tr;

    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      border-color: $bg transparent transparent transparent;
      margin-left: 12px;
      @include tr;
    }

    &:hover {
      color: $main1;

      &:after {
        border-color: $main1 transparent transparent transparent;
      }
    }
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
  }

  &__control {
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: $bg;
    fill: $bg;
    @include tr;
    @include lg-block{
      margin-right: 10px;
    }

    &:hover {
      color: $main2;
      fill: $main2;
    }

    &:last-child {
      margin-right: 0;
    }

    &_black{
      fill: $headers;
    }

    &-svg {
      width: 19px;
      height: 19px;
      margin-right: 6px;
    }

    &-txt {
      font-size: 12px;
      font-weight: 300;
    }
  }

  &__middle {
    padding-top: 40px;
    padding-bottom: 20px;
    @include md-block{
      padding-top: 20px;
      padding-bottom: 0;
    }
    @include sm-block{
      padding-top: 15px;
    }

    &-row{
      @include sm-block{
          align-items: center;
      }
    }

    &-left {
      @include col;
      @include size(10);
      @include size-lg(8);
      display: flex;
      align-items: center;
      @include size-sm(16);
    }

    &-right {
      @include col;
      @include size(14);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @include size-lg(16);
      @include size-sm(8);
    }

  }

  &__mmenu{
    display: none;
    margin-right: 20px;
    @include md-block{
      display: flex;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    @include md-block{
      width: 180px;
    }
    @include sm-block{
      width: 137px;
    }

    &-img {
      margin-right: 75px;
      max-width: 213px;
      @include lg-block{
        margin-right: 0;
      }
    }

    &-txt {
      color: $black;
      font-size: 18px;
      font-style: italic;
      letter-spacing: 0.54px;
      @include lg-block{
        display: none;
      }
    }
  }

  &__info{
    @include md-block{
      display: none;
    }
  }

  &__links {
    @include md-block{
      display: none;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    color: $headers;
    @include tr;
    @include md-block{
      margin-bottom: 10px;
    }

    &:last-child{
      margin-bottom: 0;
    }

    &:hover {
      color: $main1;
    }

    &-svg {
      max-width: 16px;
      max-height: 18px;
      fill: $main1;
      margin-right: 14px;
    }

    &-txt {

      font-size: 14px;
    }
  }

  &__phones {
    @include md-block{
      margin-left: auto;
    }
    @include sm-block{
      font-size: 0;
    }
  }

  &__phone {
    @include sm-block{
      display: none;
    }
  }

  &__call {
    color: $headers;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dashed;
    margin-left: 20px;
    @include tr;
    @include sm-block{
      margin-left: 0;
      font-size: 0;
      text-decoration: none;
      width: 13px;
      height: 19px;
      background: url("../images/icons/tel.svg") 0 0 no-repeat;
      line-height: 19;
    }

    &:hover {
      color: $main1;
    }
  }

  &__bottom {
    @include md-block{
      display: none;
    }
  }
}

.worktime {
  display: flex;
  color: $headers;
  font-size: 14px;

  &__left {
    margin-right: 10px;
  }

  &__svg {
    width: 15px;
    height: 15px;
    fill: $main1;
    margin-top: 4px;
  }

  &__title {

  }

}

.menu {
  background-color: $main1;
  border-radius: 4px;
  position: relative;
  display: flex;
  width: 100%;

  &_white{
    background-color: $bg;

    .menu{

      &__item{
        &:hover {
          background-color: $bg;

          .menu__link{
            color: $main1;

            &:after{
              border-color: $main1 transparent transparent transparent;
            }
          }
        }
      }

      &__link{
        color: $headers;
        @include tr;

        &_sub {
          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 3px 0 3px;
            border-color: $headers transparent transparent transparent;
            margin-left: 12px;
            @include tr;
          }
        }
      }
    }

    .mmore{
      height: auto;
      &:hover {
        background-color: $bg;

        .mmore__btn-round{
          background: $main1;
        }
      }

      &__btn{

        &-round{
          background: $headers;
        }
      }

    }
  }

  &_small{
    position: static;
    height: 100%;

    .menu{
      &__link_sub{
        &:before{
          content: '';
          display: none;
          position: absolute;
          top: 100%;
          left: -1000px;
          height: 100vh;
          width: 1000vw;
          background: rgba($black,.2);
          pointer-events: none;
        }
      }

      &__link{
        font-size: 16px;
        padding: 20px;
      }
    }

    .mmore{
      &__btn{

        &-round{
          width: 4px;
          height: 4px;
          margin-right: 4px;
          background: $headers;
        }
      }
    }

  }

  &.cut{
    .mmore{
      display: flex;
    }
  }

  &__list{
    display: flex;
    flex-grow: 1;

    &.nogrow{
      flex-grow: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    @include tr;


    &_catalog {
      position: static;
    }

    &:hover {
      background-color: $main2;

      .menu__link {
        &:before {
          display: block;
        }
      }

      .submenu {
        display: flex;
      }

      >.submenu2{
        display: block;
      }
    }

    &:first-child{
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $bg;
    font-size: 18px;
    font-weight: 600;
    padding: 18px 45px;
    width: 100%;

    &_sub {
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 3px 0 3px;
        border-color: $bg transparent transparent transparent;
        margin-left: 12px;
      }
    }

  }

}

.mmore{
  display: none;
  align-items: center;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  position: relative;
  @include tr;

  &:hover {
    background-color: $main2;
    .mmore__list{
      display: block;
    }
  }

  &.active{
    display: flex;
  }

  &__btn{
    display: flex;
    padding: 15px;
    height: 61px;

    &-round{
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $bg;
      margin-right: 6px;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__list{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 295px;
    background: $bg2;
    padding: 0 25px;
    box-shadow: inset 0px 4px 8px -4px rgba($black, 0.15);
  }

  &__item{
    display: block;
    padding: 15px 0;
    padding-right: 12px;
    border-bottom: 1px solid $icon;
    position: relative;
    color: $headers;
    @include tr;

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      color: $main1;
    }
  }
}

.submenu {
  display: none;
  //display: flex;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  right: 0;
  height: 410px;
  background: $bg2;
  flex-wrap: wrap;
  padding-top: 39px;
  overflow-y: auto;
  box-shadow: inset 0px 4px 8px -4px rgba($black, 0.15);

  &::-webkit-scrollbar {
    width: 6px;
    background-color: $bg2;
  }

  &::-webkit-scrollbar-track {
    background-color: $bg2;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: $main1;
  }

  &__cat {
    width: calc(100% / 4);
    padding: 0 60px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 10px;
      width: 1px;
      background: rgba($icon, .7);
    }


    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  &__title {
    position: relative;
    display: block;
    margin-bottom: 13px;

    padding: 6px 0;

    &:hover {
      .submenu__title-title {
        color: $main1;
      }
    }

    &-svg {
      position: absolute;
      left: -40px;
      top: 50%;
      margin-top: -10px;
      width: 23px;
      height: 19px;
      fill: $main1;
    }

    &-title {
      color: $black;
      font-weight: 500;
      @include tr;
    }
  }

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    display: block;
    color: $text2;
    font-size: 14px;
    padding: 6px 0;
    @include tr;

    &:hover {
      color: $main1;
    }
  }

  &__more {
    display: flex;
    justify-content: flex-start;
    padding: 6px 0;
    align-self: flex-start;

    &:hover {
      .submenu__more-round {
        background-color: $text2;
      }
    }

    &-round {
      width: 6px;
      height: 6px;
      background-color: $main1;
      border-radius: 50%;
      margin-right: 6px;
      @include tr;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.submenu2 {
  display: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: 295px;
  background: $bg2;
  padding: 0 25px;
  box-shadow: inset 0px 4px 8px -4px rgba($black, 0.15);


  &_right {
    top: 0;
    bottom: 0;
    left: 100%;

    &:before{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 100%;
      width: 25px;
    }
  }

  &__item {

    &:last-child {
      >.submenu2__link {
        border-bottom: none;
      }
    }

    &:hover{
      >.submenu2{
        display: block;
      }
    }
  }

  &__link {
    display: block;
    padding: 15px 0;
    padding-right: 12px;
    border-bottom: 1px solid $icon;
    position: relative;
    color: $headers;
    @include tr;

    &:last-child{
      border-bottom: none;
    }

    &:hover{
      color: $main1;
    }

    &_arr {

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 22px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent $main1;
      }

    }
  }
}

.fixmenu{
  position: fixed;
  z-index: 100;
  top: -300px;
  left: 0;
  right: 0;
  background-color: $bg;
  box-shadow: 0 4px 8px rgba($black, 0.15);
  @include tr;
  @include md-block{
    padding: 10px 0;
  }

  &.active{
    top: 0;
  }

  &__row {
    align-items: center;
    position: relative;
    flex-wrap: nowrap;
    @include md-block{
      margin: 0;
    }
  }

  &__mmenu{
    display: none;
    margin-right: 20px;
    @include md-block{
      display: flex;
    }
  }

  &__logo{
    @include col;
    @include size(3.7);
    @include md-block{
      width: 180px;
      margin: 0;
    }
    @include sm-block{
      width: 137px;
    }
  }

  &__menu{
    @include col;
    @include size(14.3);
    align-self: stretch;
    @include size-lg(13.8);
    @include to(1000px){
      @include size(12.5);
    };
    @include md-block{
      display: none;
    }
  }

  &__controls{
    @include col;
    @include size(2);
    @include to(1000px){
      @include size(2.5);
      justify-content: flex-end;
    };
    @include md-block{
      display: none;
    }
  }

  &__phones {
    @include col;
    @include size(4);
    display: flex;
    justify-content: flex-end;
    @include size-lg(4.5);
    @include to(1000px){
      @include size(5.3);
    };
    @include md-block{
      width: auto;
      margin: 0;
      margin-left: auto;
    }

    &-wrap{
      @include sm-block{
        display: flex;
      }
    }
  }
}

.hsearch{
  position: fixed;
  z-index: 1001;
  top: -2000px;
  left: 0;
  right: 0;
  background-color: $bg;
  @include tr;

  &.active{
    top: 0;
  }

  &__top{
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba($black, 0.15);
  }

  &__field {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: -10px;
  }

  &__input {
    flex-grow: 1;
    color: $black;
    font-size: 28px;
    font-weight: 400;
    margin-right: 20px;
  }

  &__submit {
    margin-right: 15px;
  }

  &__close {
    padding: 10px;
    fill: $headers;
    @include tr;

    &:hover{
      fill: $main1;
    }

    &-svg {
      width: 14px;
      height: 14px;


    }
  }

  &__bottom {

  }

  &__table{
    width: 100%;
    margin: 45px 0;
  }

  &__left{
    vertical-align: top;
    padding-right: 15px;
  }

  &__title{
    color: $icon;
    font-size: 20px;
    padding: 15px 0;
  }

  &__right{
    width: 100%;
  }

  &__item{
    font-size: 20px;
    display: block;
    padding: 15px 10px;
    border-radius: 4px;
    @include tr;

    b{
      color: $black;
      font-weight: 700;
    }

    &:hover{
      background-color: rgba($main1,.2);
    }

  }

}

