.account {
  @include sm-block {
    padding-bottom: 40px;
  }

  &__title {
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__main {
    border: 1px solid $border;
    @include sm-block {
      margin-left: -10px;
      margin-right: -10px;
      border-left: none;
      border-right: none;
    }

  }

  &__top {
    border-bottom: 1px solid $border;
    padding: 22px 30px;
    background: $bg2;
    @include sm-block {
      padding: 10px;
    }
  }

  &__status {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $headers;
    @include sm-block {
      flex-direction: column;
      align-items: flex-start;
    }

    &-txt {
      font-size: 18px;
      font-weight: 300;
      @include sm-block {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    &-price {
      font-size: 24px;
      font-weight: 700;
      @include sm-block {
        font-size: 18px;
      }
    }
  }

  &__bottom {
    padding: 30px;
    @include sm-block {
      padding: 20px 10px;
    }

    &-title {
      color: $headers;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 20px;
      @include sm-block {
        font-size: 20px;
        margin-bottom: 5px;
      }
    }
  }

  &__payments {
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__types {
    margin-bottom: 55px;
    @include sm-block {
      margin-bottom: 15px;
    }
  }

  &__btns {
    display: flex;
    justify-content: space-between;
    @include sm-block {
      justify-content: flex-end;
    }
  }

  &__back {
    @include sm-block {
      display: none;
    }
  }

  &__pay {
    width: 147px;
    height: 39px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.accpayments {

  &__title {
    color: $headers;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__list {
    margin-left: -5px;
    margin-right: -5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    @include sm-block {
      margin-bottom: 5px;
    }
  }

  &__item {
    border: 1px solid $main1;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 20px;

    color: $main1;
    font-size: 18px;
    font-weight: 300;
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__sub {
    color: $text2;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
  }

  &__input {
    width: 100%;
    border: 1px solid $border;
    background-color: $bg2;
    padding: 15px 40px;
    text-align: right;

    color: $headers;
    font-size: 20px;
    font-weight: 300;
  }
}

.acctypes {

  &__title {
    color: $text2;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 25px;
    @include sm-block {
      margin-bottom: 35px;
    }
  }

  &__list {
    @include row-flex;
  }

  &__item {
    @include col;
    @include size(12);
    margin-bottom: 25px;
    @include size-sm(24);
  }

}

.acctype {
  cursor: pointer;

  &__input {
    display: none;

    &:checked + .acctype__row {
      .acctype {
        &__block {
          border-color: $main1;
        }

        &__check {
          border-color: $main1;
          background: $main1;

          &-svg {
            opacity: 1;
          }
        }
      }
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__block {
    width: 120px;
    height: 100px;
    border-radius: 12px;
    border: 1px solid $border;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 45px;
    @include tr;
  }

  &__check {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $text2;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;

    &-svg {
      width: 14px;
      height: 10px;
      fill: $bg;
      opacity: 0;
      @include tr;
    }
  }

  &__name {
    color: $black;
    font-size: 15px;
    font-weight: 600;
  }

}

.data {

  &__title {
    margin-bottom: 40px;
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__fields {
    border: 1px solid $border;
    padding: 40px 30px;
    @include md-block {
      margin-left: -20px;
      margin-right: -20px;
      padding: 30px 20px;
      border-right: none;
      border-left: none;
    }
    @include sm-block {
      margin-left: -10px;
      margin-right: -10px;
      padding: 20px 10px;
    }
  }

  &__field {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: $headers;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 15px;
    }
  }

  &__row {
    @include row-flex;
    align-items: center;
  }

  &__left, &__right {
    @include col;
    @include size(12);
    @include size-sm(24);
  }

  &__left {
    @include sm-block {
      margin-bottom: 10px;
    }
  }

  &__label {
    color: $text2;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    @include sm-block {
      font-size: 14px;
      margin-bottom: 5px;
    }

    &_r {
      color: $validation;
    }
  }

  &__txt {
    color: $text2;
    font-weight: 300;
    a{
      color: $main1;
    }

  }

  &__policy{
    font-size: 14px;
    line-height: lh(14,20);
    a {
      color: $main1;
    }
  }

  &__btns{
    display: flex;
  }

  &__btn {
    width: 194px;
    height: 39px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sub {
    color: $headers;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;

    &_r {
      color: #eb5757;
    }

  }

  &__add{
    width: 126px;
    height: 39px;
    border-radius: 2px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-transform: none;
  }

  &__reset{
    width: 126px;
    height: 39px;
    border-radius: 2px;
    font-size: 14px;
    text-transform: none;
  }

}