.notfound{
  padding-top: 40px;
  padding-bottom: 160px;
  @include md-block{
    padding-bottom: 90px;
  }
  @include sm-block{
    padding-top: 10px;
  }

  &__bread{
    margin-bottom: 60px;
    @include md-block{
      margin-bottom: 30px;
    }
    @include sm-block{
      margin-bottom: 10px;
    }
  }

  &__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title{
    color: $headers;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    z-index: 2;
    @include sm-block{
      font-size: 18px;
    }
  }

  &__img{
    margin-top: -40px;
    margin-bottom: -30px;
    @include md-block{
      max-width: 645px;
    }
    @include sm-block{
      max-width: 210px;
      margin-top: 0px;
      margin-bottom: 20px;
    }
  }

  &__sub{
    color: $headers;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    @include sm-block{
      font-size: 16px;
    }
  }

  &__back{
    width: 189px;
    height: 37px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}