.product {
  padding-bottom: 140px;
  @include to(1100px) {
    .left {
      display: none;
    }

    .right {
      @include size(24);
    }
  }
  @include md-block {
    padding-bottom: 100px;
  }
  @include sm-block{
    padding-bottom: 75px;
  }


  .right{
    @include size-sm(24);
  }


  &__left {
    @include col;
    @include size(24/9*5);
    @include size-md(12);
    @include size-sm(24);
    @include sm-block {
      margin-bottom: 20px;
    }
  }

  &__slider {
    position: relative;
    margin-bottom: -1px;
  }

  &__nav {
    position: absolute;
    z-index: 10;
    left: 20px;
    right: 20px;
    bottom: 20px;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    @include md-block {
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
    @include sm-block {
      justify-content: space-between;
    }
  }

  &__arr {
    width: 40px;
    height: 40px;
    border: 1px solid $border;
    padding: 12px 15px;
    cursor: pointer;
    pointer-events: all;
    @include tr;
    @include md-block {
      width: 32px;
      height: 32px;
      padding: 7px 10px;
    }
    @include sm-block {
      width: 27px;
      height: 27px;
      padding: 5px 8px;
    }

    &:hover {
      border: 1px solid $main1;
      @include md-block {
        border: 1px solid $border;
      }

      .product__arr-svg {
        fill: $main1;
        @include md-block {
          fill: $icon;
        }
      }
    }

    &-svg {
      width: 100%;
      height: 100%;
      fill: $icon;
      @include tr;
    }
  }

  &__controls {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
    right: 20px;
    pointer-events: none;
    display: flex;
    justify-content: flex-end;
    @include md-block {
      top: 10px;
      left: 10px;
      right: 10px;
    }
  }

  &__control {
    fill: $icon;
    pointer-events: all;
    cursor: pointer;
    margin-right: 25px;
    @include sm-block {
      margin-right: auto;
    }

    &:last-child {
      margin-right: 0;
    }


    &-svg {
      &_compare {
        width: 22px;
        height: 22px;
      }

      &_heart {
        width: 22px;
        height: 18px;
      }

    }
  }

  &__right {
    @include col;
    @include size(24/9*4);
    @include size-md(12);
    @include size-sm(24);
  }

  &__sticks {
    margin-bottom: 10px;
  }

  &__prices {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid $border;
    @include sm-block {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    &-info {
      color: $text2;
      font-size: 12px;
    }
  }

  &__price {
    display: flex;
    align-items: center;

    &-val {
      color: $main1;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      margin-right: 20px;
    }

    &-avaible {
      margin-bottom: 0;
    }


  }

  &__oldprice {
    color: $text2;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: line-through;
    margin-bottom: 10px;
  }

  &__info {
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
    margin-bottom: 25px;

    &-articul {
      color: $black;
      font-size: 13px;
      margin-bottom: 10px;
      @include md-block {
        margin-bottom: 5px;
      }
    }

    &-top {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      @include md-block {
        margin-bottom: 5px;
      }
      @include sm-block {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 15px;
      }
    }

    &-txt {
      color: $black;
    }
  }

  &__rating {
    margin-right: 20px;
    @include sm-block {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  &__add {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__count {
    width: 86px;
    margin-right: 40px;
    @include sm-block{
      margin-right: 15px;
    }
  }

  &__buy{
    @include sm-block{
      flex-grow: 1;
    }
  }

  &__one{


    .btn3{
      &__txt{
        @include sm-block{
          font-size: 16px;
        }
      }

      &__svg{
        width: 14px;
        height: 14px;
      }
    }
  }

  &__sections {
    margin-top: 35px;
    @include md-block {
      margin-top: 60px;
    }
    @include sm-block{
      margin-top: 30px;
    }
  }

  &__section {
    border-bottom: 1px solid $border;
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
      border-bottom: none;

    }

    &-title {
      color: $black;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 25px;
    }
  }

  &__gallery {
    margin-bottom: 50px;
    @include md-block {
      margin-bottom: 40px;
    }
    @include sm-block{
      margin-bottom: 15px;
    }
  }

  &__thumbs2 {
    margin-bottom: 60px;
    @include sm-block{
      margin-bottom: 30px;
    }
  }

  &__revs {
    padding-bottom: 85px;
    @include sm-block{
      padding-bottom: 45px;
    }
  }

}

.pslider {

}

.pslide {
  border: 1px solid $border;
  box-sizing: border-box;

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc((360 / 509) * 100%);
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

}

.pthumbs {

}

.pthumb {
  box-sizing: border-box;
  border: 1px solid $border;
  position: relative;
  @include tr;

  &.swiper-slide-thumb-active {
    border-color: $main1;
    z-index: 10;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc((128 / 128) * 100%);
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.pdocs {
  @include row-flex;
  margin-bottom: 60px;
  @include md-block {
    margin-bottom: 20px;
  }
  @include sm-block{
    margin-bottom: 0;
  }
}

.pdoc {
  @include col;
  @include size(8);
  display: flex;
  align-items: center;
  @include size-md(12);
  @include md-block {
    margin-bottom: 40px;
  }
  @include size-sm(24);

  &__left {
    margin-right: 25px;
    min-width: 60px;
    width: 60px;
  }

  &__right {

  }

  &__title {
    color: $black;
    font-size: 14px;
    margin-bottom: 15px;
    @include sm-block{
      margin-bottom: 10px;
    }
  }

  &__link {
    display: block;
    color: $text2;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

.pgallery {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__arr {
    width: 60px;
    height: 60px;
    background-color: $main1;
    display: flex;
    align-items: center;
    justify-content: center;
    @include tr;
    @include md-block {
      width: 46px;
      height: 46px;
    }

    &:hover {
      background-color: $main2;
    }

    &-svg {
      width: 9px;
      height: 16px;
      fill: $bg;
      @include md-block {
        width: 7px;
        height: 13px;
      }
    }
  }

  &__container {
    width: calc(100% - 240px);
    @include md-block {
      width: calc(100% - 200px)
    }
    @include sm-block{
      width: 100%;
    }
  }

  &__prev,&__next{
    @include sm-block{
      display: none;
    }
  }

  &__item {
    box-sizing: border-box;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: calc((430 / 698) * 100%);
    }
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.pthumbs2 {
  width: calc(100% - 240px);
  margin: 0 auto;
  @include md-block {
    width: calc(100% - 200px);
  }
  @include sm-block{
    width: 100%;
  }
}

.pthumb2 {
  box-sizing: border-box;
  position: relative;
  opacity: .5;
  @include tr;

  &.swiper-slide-thumb-active {
    opacity: 1;
  }

  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-top: calc((128 / 128) * 100%);
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}

.revs {

  &__txt {
    font-weight: 300;
    margin-bottom: 20px;
    @include md-block {
      margin-bottom: 30px;
    }
  }

  &__btn {
    width: 204px;
    height: 39px;
    font-size: 14px;
    text-transform: none;
    margin-bottom: 45px;
  }

}

.rev {
  box-shadow: 0 0 8px rgba($black, 0.15);
  background-color: $bg;
  margin-bottom: 20px;
  padding: 25px 25px 15px 30px;
  display: flex;
  @include tr;
  @include sm-block{
    padding: 20px 15px;
  }


  &.open {
    background-color: $bg2;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__left {
    margin-right: 30px;
    @include sm-block{
      display: none;
      margin-right: 15px;
    }


    &_m{
      display: none;
      @include sm-block{
        display: block;
      }
    }
  }

  &__img {
    width: 150px;
    height: 150px;
    border: 1px solid $border;
    border-radius: 50%;
    padding: 10px;
    @include sm-block{
      width: 88px;
      height: 88px;
      padding: 7px;
    }

    &-wrap {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__right {
    flex-grow: 1;
    @include tr;
  }

  &__top {

    margin-bottom: 10px;

    &-wrap{
      @include sm-block{
        display: flex;
        align-items: center;
      }
    }

    &-block{
      display: flex;
      align-items: center;
      @include sm-block{
          flex-direction: column;
        align-items: flex-start;
      }
    }

    &-left {
      margin-right: 60px;
      @include sm-block{
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__date {
    color: $text2;
    font-size: 14px;
    @include sm-block{
      display: none;
    }
  }

  &__name {
    font-size: 18px;
    @include sm-block{
      font-size: 16px;
    }
  }

  &__prof {
    font-size: 12px;
    font-weight: 400;
  }

  &__txt {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  &__hidden {
    display: none;
    padding-bottom: 25px;
    @include sm-block{
      padding-bottom: 15px;
    }
  }

  &__imgs {
    @include row-flex;
    margin-bottom: 20px;
    @include sm-block{
      margin-bottom: 0;
    }
  }

  &__image {
    @include col;
    @include size(6);
    position: relative;
    @include size-sm(12);
    @include sm-block{
      margin-bottom: 10px;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: calc((123 / 159) * 100%);
    }

    &-fancy {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
    }

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__yt {
    position: relative;
    width: 100%;


    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-top: calc((9 / 16) * 100%);
    }

    iframe {
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
  }

  &__more {
    color: $main1;
    font-size: 14px;
    display: flex;
    align-items: center;

    &.open {
      .rev__more {
        &-open {
          display: none;
        }

        &-close {
          display: flex;
        }


      }

      &:after {
        transform: rotate(-180deg);
      }
    }

    &:after {
      content: '';
      margin-left: 25px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: $main1 transparent transparent transparent;
      @include sm-block{
        margin-left: 10px;
      }
    }

    &-close {
      display: none;
    }
  }

}

.precom {

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    color: $black;
    font-size: 28px;
    font-weight: 600;
    @include sm-block{
      font-size: 20px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    @include sm-block{
      display: none;
    }
  }

  &__slider{
    width: 100%;
  }

  &__container {
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px 10px 15px 10px;
    margin-bottom: 45px;
    @include md-block {
      margin-bottom: 30px;
    }

    @include sm-block {
      padding: 0;
    }
  }

  &__item {
    height: auto;

    .item {
      height: 100%;
    }

    &:hover {
      z-index: 10;
    }
  }

  &__pag {
    display: flex;
    justify-content: center;
  }
}