-
    var menu = [
        {
            title: 'Каталог',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Услуги',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Доставка',
            href: '',
        },
        {
            title: 'Оплата',
            href: '',
        },
        {
            title: 'Компания',
            href: '',
        },
        {
            title: 'Контакты',
            href: '',
        },
        {
            title: 'Акции',
            href: '',
        },


    ];
-
    var footerMenu = [
        {
            title: {
                title: 'О компании',
                href: 'about.html'
            },
            list: [
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Каталог',
                    href: 'catalog.html'
                },
                {
                    title: 'Отзывы',
                    href: 'reviews.html'
                },
                {
                    title: 'Портфолио',
                    href: 'portfolio.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        },
        {
            title: {
                title: 'Каталог',
                href: 'catalog.html'
            },
            list: [
                {
                    title: 'Мобильные устройства',
                    href: 'catalog.html'
                },
                {
                    title: 'Компьютеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Умный дом',
                    href: 'catalog.html'
                },
                {
                    title: 'Умные тренажеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Наручные часы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: {
                title: 'Услуги компании',
                href: 'services.html'
            },
            list: [
                {
                    title: 'Ремонт техники по гарантии',
                    href: 'service.html'
                },
                {
                    title: 'Настройка умного дома',
                    href: 'service.html'
                },
                {
                    title: 'Монтаж кондиционеров',
                    href: 'service.html'
                },
                {
                    title: 'Настройка электроники',
                    href: 'service.html'
                },
                {
                    title: 'Сборка мебели',
                    href: 'service.html'
                }
            ]
        },
        {
            title: {
                title: 'Информация',
                href: 'info.html'
            },
            list: [
                {
                    title: 'Акции',
                    href: 'actions.html'
                },
                {
                    title: 'Оплата',
                    href: 'pay.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        }
    ];
-
    var footerSocials = [
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],

    ];
-
    var advantages = [
        {
            src: 'images/content/index/advantages/1.svg',
            title: 'Быстрая доставка',
            txt: 'Бережно доставляем товары по России за 24 часа'
        },
        {
            src: 'images/content/index/advantages/2.svg',
            title: 'Клиентский сервис',
            txt: 'Отвечаем на вопросы покупателей в течение 10 минут'
        },
        {
            src: 'images/content/index/advantages/3.svg',
            title: 'Бонусы за покупки',
            txt: 'Дарим подарки и скидки до 70% всем покупателям'
        },
        {
            src: 'images/content/index/advantages/4.svg',
            title: 'Гарантия качества',
            txt: 'Соответствуем требованиям и стандартам качества'
        },
        {
            src: 'images/content/index/advantages/5.svg',
            title: 'Доступные цены',
            txt: 'Работаем напрямую с ведущими производителями'
        }
    ];
-
    var iservices = [
        {
            title: 'Капитальный ремонт под ключ и установка перегородок под замок',
            src: 'images/content/index/services/1.jpg'
        },
        {
            title: 'Общестроительные работы',
            src: 'images/content/index/services/2.jpg'
        },
        {
            title: 'Установка дверей и окон',
            src: 'images/content/index/services/3.jpg'
        },
        {
            title: 'Сантехнические работы',
            src: 'images/content/index/services/4.jpg'
        },
        {
            title: 'Установка дверей и окон',
            src: 'images/content/index/services/5.jpg'
        },
        {
            title: 'Электромонтажные работы',
            src: 'images/content/index/services/6.jpg'
        }
    ];
-
    var iprojects = [
        {
            src: 'images/content/index/projects/1.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/2.jpg',
            title: 'Апгрейд и покраска электровелосипеда Qoros FB-2',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/3.jpg',
            title: 'Ремонт балкона в Марьино 165 серия',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/4.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/5.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/3.jpg',
            title: 'Ремонт балкона в Марьино 165 серия',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },

    ];
-
    var ipops = [
        {
            src:'images/content/index/popular/1.jpg',
            title: 'Ручная вырезка узоров на чехле для Iphone 11 PRO. ',
            price: '59 990 руб.',
            priceOld: '65 000 руб.',
            priceCls: 'ipop__price_green'
        },
        {
            src:'images/content/index/popular/2.jpg',
            title: 'Неоновый Апгрейд системного блока в стиле Cyberpunk',
            price: 'ОТ 59 990 руб.',
        },
        {
            src:'images/content/index/popular/3.jpg',
            title: 'Полная установка и настройка камер видеонаблюдения',
            price: '59 990 руб.',
            priceOld: '65 000 руб.',
            priceCls: 'ipop__price_green'
        },
        {
            src:'images/content/index/popular/4.jpg',
            title: 'Разработка рекламных баннеров для рюкзаков с экранами',
            price: 'от 5 000 руб.',
        },


    ];