-
    var menu = [
        {
            title: 'Каталог',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Услуги',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Доставка',
            href: '',
        },
        {
            title: 'Оплата',
            href: '',
        },
        {
            title: 'Компания',
            href: '',
        },
        {
            title: 'Контакты',
            href: '',
        },
        {
            title: 'Акции',
            href: '',
        },


    ];
-
    var footerMenu = [
        {
            title: {
                title: 'О компании',
                href: 'about.html'
            },
            list: [
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Каталог',
                    href: 'catalog.html'
                },
                {
                    title: 'Отзывы',
                    href: 'reviews.html'
                },
                {
                    title: 'Портфолио',
                    href: 'portfolio.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        },
        {
            title: {
                title: 'Каталог',
                href: 'catalog.html'
            },
            list: [
                {
                    title: 'Мобильные устройства',
                    href: 'catalog.html'
                },
                {
                    title: 'Компьютеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Умный дом',
                    href: 'catalog.html'
                },
                {
                    title: 'Умные тренажеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Наручные часы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: {
                title: 'Услуги компании',
                href: 'services.html'
            },
            list: [
                {
                    title: 'Ремонт техники по гарантии',
                    href: 'service.html'
                },
                {
                    title: 'Настройка умного дома',
                    href: 'service.html'
                },
                {
                    title: 'Монтаж кондиционеров',
                    href: 'service.html'
                },
                {
                    title: 'Настройка электроники',
                    href: 'service.html'
                },
                {
                    title: 'Сборка мебели',
                    href: 'service.html'
                }
            ]
        },
        {
            title: {
                title: 'Информация',
                href: 'info.html'
            },
            list: [
                {
                    title: 'Акции',
                    href: 'actions.html'
                },
                {
                    title: 'Оплата',
                    href: 'pay.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        }
    ];
-
    var footerSocials = [
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],

    ];