-
    var menu = [
        {
            title: 'Каталог',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Услуги',
            href: '',
            submenu: [
                {
                    title: '',
                    href: ''
                }
            ],
        },
        {
            title: 'Доставка',
            href: '',
        },
        {
            title: 'Оплата',
            href: '',
        },
        {
            title: 'Компания',
            href: '',
        },
        {
            title: 'Контакты',
            href: '',
        },
        {
            title: 'Акции',
            href: '',
        },


    ];
-
    var footerMenu = [
        {
            title: {
                title: 'О компании',
                href: 'about.html'
            },
            list: [
                {
                    title: 'Новости',
                    href: 'news.html'
                },
                {
                    title: 'Каталог',
                    href: 'catalog.html'
                },
                {
                    title: 'Отзывы',
                    href: 'reviews.html'
                },
                {
                    title: 'Портфолио',
                    href: 'portfolio.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        },
        {
            title: {
                title: 'Каталог',
                href: 'catalog.html'
            },
            list: [
                {
                    title: 'Мобильные устройства',
                    href: 'catalog.html'
                },
                {
                    title: 'Компьютеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Умный дом',
                    href: 'catalog.html'
                },
                {
                    title: 'Умные тренажеры',
                    href: 'catalog.html'
                },
                {
                    title: 'Наручные часы',
                    href: 'catalog.html'
                }
            ]
        },
        {
            title: {
                title: 'Услуги компании',
                href: 'services.html'
            },
            list: [
                {
                    title: 'Ремонт техники по гарантии',
                    href: 'service.html'
                },
                {
                    title: 'Настройка умного дома',
                    href: 'service.html'
                },
                {
                    title: 'Монтаж кондиционеров',
                    href: 'service.html'
                },
                {
                    title: 'Настройка электроники',
                    href: 'service.html'
                },
                {
                    title: 'Сборка мебели',
                    href: 'service.html'
                }
            ]
        },
        {
            title: {
                title: 'Информация',
                href: 'info.html'
            },
            list: [
                {
                    title: 'Акции',
                    href: 'actions.html'
                },
                {
                    title: 'Оплата',
                    href: 'pay.html'
                },
                {
                    title: 'Доставка',
                    href: 'delivery.html'
                }
            ]
        }
    ];
-
    var footerSocials = [
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],
        [
            {
                svg: 'vk',
                href: 'https://vk.com/'
            },
            {
                svg: 'inst',
                href: 'https://www.instagram.com/'
            },
            {
                svg: 'fb',
                href: 'https://ru-ru.facebook.com/'
            },
            {
                svg: 'yt',
                href: 'https://www.youtube.com/'
            },

        ],

    ];
-
    var advantages = [
        {
            src: 'images/content/index/advantages/1.svg',
            title: 'Быстрая доставка',
            txt: 'Бережно доставляем товары по России за 24 часа'
        },
        {
            src: 'images/content/index/advantages/2.svg',
            title: 'Клиентский сервис',
            txt: 'Отвечаем на вопросы покупателей в течение 10 минут'
        },
        {
            src: 'images/content/index/advantages/3.svg',
            title: 'Бонусы за покупки',
            txt: 'Дарим подарки и скидки до 70% всем покупателям'
        },
        {
            src: 'images/content/index/advantages/4.svg',
            title: 'Гарантия качества',
            txt: 'Соответствуем требованиям и стандартам качества'
        },
        {
            src: 'images/content/index/advantages/5.svg',
            title: 'Доступные цены',
            txt: 'Работаем напрямую с ведущими производителями'
        }
    ];
-
    var iservices = [
        {
            title: 'Капитальный ремонт под ключ и установка перегородок под замок',
            src: 'images/content/index/services/1.jpg'
        },
        {
            title: 'Общестроительные работы',
            src: 'images/content/index/services/2.jpg'
        },
        {
            title: 'Установка дверей и окон',
            src: 'images/content/index/services/3.jpg'
        },
        {
            title: 'Сантехнические работы',
            src: 'images/content/index/services/4.jpg'
        },
        {
            title: 'Установка дверей и окон',
            src: 'images/content/index/services/5.jpg'
        },
        {
            title: 'Электромонтажные работы',
            src: 'images/content/index/services/6.jpg'
        }
    ];
-
    var iprojects = [
        {
            src: 'images/content/index/projects/1.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/2.jpg',
            title: 'Апгрейд и покраска электровелосипеда Qoros FB-2',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/3.jpg',
            title: 'Ремонт балкона в Марьино 165 серия',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/4.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/5.jpg',
            title: 'Подготовка Tesla Centre к открытию в Москве ',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },
        {
            src: 'images/content/index/projects/3.jpg',
            title: 'Ремонт балкона в Марьино 165 серия',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров нашел дешевле в других магазинах.'
        },

    ];
-
    var ipops = [
        {
            src: 'images/content/index/popular/1.jpg',
            title: 'Ручная вырезка узоров на чехле для Iphone 11 PRO. ',
            price: '59 990 руб.',
            priceOld: '65 000 руб.',
            priceCls: 'price_green'
        },
        {
            src: 'images/content/index/popular/2.jpg',
            title: 'Неоновый Апгрейд системного блока в стиле Cyberpunk',
            price: 'ОТ 59 990 руб.',
        },
        {
            src: 'images/content/index/popular/3.jpg',
            title: 'Полная установка и настройка камер видеонаблюдения',
            price: '59 990 руб.',
            priceOld: '65 000 руб.',
            priceCls: 'price_green'
        },
        {
            src: 'images/content/index/popular/4.jpg',
            title: 'Разработка рекламных баннеров для рюкзаков с экранами',
            price: 'от 5 000 руб.',
        },


    ];
-
    var irecomItems = [
        {
            src: 'images/content/catalog/1.jpg',
            sticks: true,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
        {
            src: 'images/content/catalog/2.png',
            sticks: true,
            enabled: true,
            price: '32 990 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: true
        },
        {
            src: 'images/content/catalog/1.jpg',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
        {
            src: 'images/content/catalog/2.png',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT',
            inbasket: false
        },
        {
            src: 'images/content/catalog/1.jpg',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
    ];
-
    var irecomItems2 = [
        {
            src: 'images/content/catalog/2.png',
            sticks: true,
            enabled: true,
            price: '32 990 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: true
        },
        {
            src: 'images/content/catalog/1.jpg',
            sticks: true,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
        {
            src: 'images/content/catalog/2.png',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT',
            inbasket: false
        },
        {
            src: 'images/content/catalog/1.jpg',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
        {
            src: 'images/content/catalog/1.jpg',
            sticks: false,
            enabled: true,
            price: '7 000 РУБ.',
            priceOld: '65 000 руб.',
            title: 'Аккумуляторный шуруповёрт ANGLE EXACT 30 без аккум. и ЗУ Bosch Professional 0602490671...',
            inbasket: false
        },
    ];
-
    var irecom = {
        sws: [
            {
                title: 'Акция',
                checked: true
            },
            {
                title: 'Советуем'
            },
            {
                title: 'Новинка'
            },
            {
                title: 'Хит'
            }
        ],
        tabs: [
            {
                list: irecomItems,
            },
            {
                list: irecomItems2
            },
            {
                list: irecomItems
            },
            {
                list: irecomItems2
            },

        ]
    };
-
    var icats = [
        {
            src: 'images/content/index/categories/1.jpg',
            title: 'Бытовая техника',
        },
        {
            src: 'images/content/index/categories/2.jpg',
            title: 'Инструменты',
        },
        {
            src: 'images/content/index/categories/3.jpg',
            title: 'Промышленная техника',
        },
        {
            src: 'images/content/index/categories/4.jpg',
            title: 'Сантехника',
        },
        {
            src: 'images/content/index/categories/5.jpg',
            title: 'Инструменты',
        },
        {
            src: 'images/content/index/categories/6.jpg',
            title: 'Бытовая техника',
        },
        {
            src: 'images/content/index/categories/7.jpg',
            title: 'Теплоизоляция',
        },
        {
            src: 'images/content/index/categories/8.jpg',
            title: 'Электрика и освещение',
        },

    ];
-
    var iactions = [
        {
            src:'images/content/index/actions/1.jpg',
            date: '20.12.2019',
            title: 'Акция на строительные смеси - 30%'
        },
        {
            src:'images/content/index/actions/2.jpg',
            date: '20.12.2019',
            title: 'Акция на строительные смеси - 30%'
        },
        {
            src:'images/content/index/actions/3.jpg',
            date: '20.12.2019',
            title: 'Акция на строительные смеси - 30%'
        },
        {
            src:'images/content/index/actions/4.jpg',
            date: '20.12.2019',
            title: 'Строиматериалы оптом'
        },
        {
            src:'images/content/index/actions/1.jpg',
            date: '20.12.2019',
            title: 'Акция на строительные смеси - 30%'
        }
    ];
-
    var inews = [
        {
            src: 'images/content/index/news/1.jpg',
            date: '20.12.2019',
            title: 'Система виртуальной реальности HTC VIVE Pro Full Kit',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров...'
        },
        {
            src: 'images/content/index/news/2.jpg',
            date: '20.12.2019',
            title: 'Появился концепт iPhone 12 Pro с четырьмя камерами',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров...'
        },
        {
            src: 'images/content/index/news/3.jpg',
            date: '20.12.2019',
            title: 'Обзор ASUS ZenBook 15 UX534FTС',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров...'
        },
        {
            src: 'images/content/index/news/4.jpg',
            date: '20.12.2019',
            title: 'Система виртуальной реальности HTC VIVE Pro Full Kit',
            txt: 'Все быстро, удобно понятно. Доставка быстрая и бесплатная - огромный плюс. Кое-что из интересовавших меня товаров...'
        }
    ];
-
    var irevs = [
        {
            src: 'images/content/index/reviews/1.jpg',
            title: 'Александр Баженов',
            prof: 'Генеральный директор ООО “Техно - Дом”'
        },
        {
            src: 'images/content/index/reviews/2.jpg',
            title: 'Анна Гаврилова',
            prof: 'Генеральный директор ООО “Техно - Дом”'
        },
        {
            src: 'images/content/index/reviews/3.jpg',
            title: 'Ирина Молотова',
            prof: 'Дизайнер интерьера'
        },
        {
            src: 'images/content/index/reviews/1.jpg',
            title: 'Александр Баженов',
            prof: 'Генеральный директор ООО “Техно - Дом”'
        }
    ];
